.img-size{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.disabled {
    color: white;
    cursor: not-allowed;
    opacity: .65;
    background-color: gray !important;
}
.enabled {
    color: white;
    cursor: pointer;
    opacity: 1;
    text-decoration: none; 
}
.btn.disabled, .btn:disabled {
    opacity: .65;
    background-color: gray !important;
    border-color: gray !important;
}

.inc-box{
    width: 20px;
    height: 20px;
    display: inline-block;
}
  /* a:link, a:visited {
    transition: color 0.15s ease 0s, border-color 0.15s ease 0s, background-color 0.15s ease 0s;
  } */
  .container-New {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .quantity__minus,
  .quantity__plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #dee0ee;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
  }
  .quantity__minus:hover,
  .quantity__plus:hover {
    color: white;
    background-color:gray ;
  }
  .quantity__minus {
    border-radius: 3px 0 0 3px;
  }
  .quantity__plus {
    border-radius: 0 3px 3px 0;
  }
  .quantity__input {
    width: 32px;
    height: 19px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #dee0ee;
    border-bottom: 2px solid #dee0ee;
    border-left: 1px solid #dee0ee;
    border-right: 2px solid #dee0ee;
    background: #fff;
    color: #8184a1;
  }
  