<div class="row mx-0">
  <div class="col-lg-6 col-12 px-600-0">
    <div class="card">
      <div class="card-header px-3">
        <h4>Category</h4>
      </div>
      <div class="card-body">
        <div>
          <ng-select
            [items]="category"
            bindLabel="CategoryName"
            bindValue="CategoryID"
            placeholder="Select Category"
            (change)="filterMenu($event)"
            [(ngModel)]="selectedCategory"
          >
          </ng-select>
          <!-- <p>Selected city: {{ menu | json }}</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 px-600-0">
    <div class="card">
      <div class="card-header px-3">
        <h4>Sales Tax</h4>
      </div>
      <div class="card-body" *ngFor="let item of applicationSettings">
        <div class="row mx-0 justify-content-between">
          <input
            type="number"
            class="form-control col-lg-9 mb-lg-0 mb-2"
            [(ngModel)]="item.Tax"
            min="0"
          />
          <button
            class="btn btn-primary text-white col-lg-3 mb-0"
            (click)="UpdateTax(item)"
          >
            Update Tax
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-12 px-600-0">
  <div class="card">
    <div class="card-header px-3">
      <div class="d-flex">
        <h4>Menus</h4>
        <div class="ml-auto">
          <button
            *ngIf="!isEdit"
            [disabled]="isEdit"
            class="btn btn-primary text-white ml-auto"
            (click)="massUpdate()"
          >
            All Update
          </button>
          <button
            *ngIf="isEdit"
            [disabled]="isEdit"
            class="btn btn-primary text-white ml-auto"
          >
            Update
          </button>
        </div>
      </div>
      <div>
        <div class="row mx-0 justify-content-space-between">
          <div class="col-lg-2 col-md-3 col-6 mb-2 mx-0 rounded text-center">
            <div class="quantity">
              <a
                class="quantity__minus"
                [ngClass]="isEdit == true ? 'disabled' : ''"
                (click)="decrement(1)"
                ><span>-</span></a
              >
              <input
                name="quantity"
                type="text"
                class="quantity__input"
                value="1%"
                disabled
              />
              <a
                class="quantity__plus"
                [ngClass]="isEdit == true ? 'disabled' : ''"
                (click)="increment(1)"
                ><span>+</span></a
              >
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mb-2 mx-0 rounded text-center">
            <div class="quantity">
              <a
                class="quantity__minus"
                [ngClass]="isEdit == true ? 'disabled' : ''"
                (click)="decrement(2)"
                ><span>-</span></a
              >
              <input
                name="quantity"
                type="text"
                class="quantity__input"
                value="2%"
                disabled
              />
              <a
                class="quantity__plus"
                [ngClass]="isEdit == true ? 'disabled' : ''"
                (click)="increment(2)"
                ><span>+</span></a
              >
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mb-2 mx-0 rounded text-center">
            <div class="quantity">
              <a
                class="quantity__minus"
                [ngClass]="isEdit == true ? 'disabled' : ''"
                (click)="decrement(3)"
                ><span>-</span></a
              >
              <input
                name="quantity"
                type="text"
                class="quantity__input"
                value="3%"
                disabled
              />
              <a
                class="quantity__plus"
                [ngClass]="isEdit == true ? 'disabled' : ''"
                (click)="increment(3)"
                ><span>+</span></a
              >
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mb-2 mx-0 rounded text-center">
            <div class="quantity">
              <a
                class="quantity__minus"
                [ngClass]="isEdit == true ? 'disabled' : ''"
                (click)="decrement(5)"
                ><span>-</span></a
              >
              <input
                name="quantity"
                type="text"
                class="quantity__input"
                value="5%"
                disabled
              />
              <a
                class="quantity__plus"
                [ngClass]="isEdit == true ? 'disabled' : ''"
                (click)="increment(5)"
                ><span>+</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body px-0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">
                <input
                  [disabled]="isEdit"
                  [(ngModel)]="isSelected"
                  id="checked"
                  type="checkbox"
                  (change)="allSelect($event)"
                />
              </th>
              <th class="text-center">Image</th>
              <th class="text-center">Name</th>
              <th class="text-center">Current Price</th>
              <th class="text-center">New Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filtered; let i = index">
              <td class="text-center">
                <input
                  [disabled]="isEdit"
                  (change)="onSelect(i)"
                  [checked]="item.Selected"
                  name="{{ item.CategoryName }}"
                  type="checkbox"
                  id="{{ item.CategoryID }}"
                />
              </td>
              <td class="text-center">
                <img
                  class="img-size"
                  [src]="baseURL + item.ImageURL"
                  alt=""
                  srcset=""
                />
              </td>
              <td class="text-center">
                <p>{{ item.MenuName }}</p>
              </td>
              <td class="text-center">
                {{ item.Price | number: "1.2-2" }}
              </td>
              <td class="text-center">
                <p *ngIf="!isEdit">
                  {{ item.NewPrice | number: "1.2-2" }}
                  <i
                    class="fa fa-pencil text-dark"
                    aria-hidden="true"
                    (click)="isEditable($event)"
                  ></i>
                </p>
                <input
                  *ngIf="isEdit"
                  min="0"
                  type="number"
                  required
                  [(ngModel)]="item.NewPrice"
                /><i
                  *ngIf="isEdit"
                  class="fa fa-check ml-2 text-success"
                  aria-hidden="true"
                  (click)="pricePerItemUpdate(item)"
                ></i>
                <i
                  *ngIf="isEdit"
                  class="fa fa-times ml-2 text-danger"
                  aria-hidden="true"
                  (click)="closeField()"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
