<!-- <div class="pl-lg-5 mt-lg-5">
  <i class="fa fa-arrow-left" aria-hidden="true" (click)="prevPage()"></i>
</div> -->
<section id="fabs-examples">
  <div *ngIf="MenuItem != 0" class="container mt-2">
    <h1 class="p-3 text-dark">Menu</h1>
    <div class="row">
      <div
        class="col-lg-4 col-md-12 col-sm-12"
        *ngFor="let item of menu; let i = index"
      >
        <div class="card menu-card ribbon">
          <div class="wrap">
            <span class="ribbon6 text-white">Discount 10%</span>
          </div>
          <div class="card-header font-16">
            <h4 class="card-title mb-2">{{ item.MenuName }}</h4>
          </div>
          <div class="card-content">
            <div class="card-img">
              <button
                *ngIf="show"
                class="btn btn-floating halfway-fab"
                (click)="addToCart(item, i)"
              >
                <i class="ft-plus"></i>
              </button>
              <img
                class="menu-img"
                [src]="baseURL + item.ImageURL"
                alt="Card image cap"
              />
            </div>
            <div class="card-body">
              <p class="card-text">{{ item.Notes | truncate:[20]}}</p>
              <hr />
              <p class="card-text">Price:{{ item.Price }}$</p>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
class="btn btn-red  rounded setposition"
(click)="prevPage()"
>
<i class="ft-chevrons-left mr-1 "></i>Back
</button>
  <div
    *ngIf="MenuItem == 0"
    class="container mt-5 p-3 border border-danger rounded "
  >
    <div class="row justify-content-space-between px-2">
      <p class="mb-0">
        No such item against this Category
      </p>
      <button
        class="btn btn-primary mb-0 text-white router-link-active"
        [routerLink]="['/']" routerLinkActive="router-link-active" 
      >
        back
      </button>
    </div>
  </div>
  <!-- <div class="d-lg-none d-md-none d-sm-block d-block">
    <p>
      No such item against this Category
    </p>
    <button
      class="btn btn-primary mb-0 text-white router-link-active"
      [routerLink]="['/']" routerLinkActive="router-link-active" 
    >
      back
    </button>
  </div> -->
</section>
