
.menu-img{
    height: 200px;
    width: 100%;
}
.menu-card{
    height: 420px;
}

.discount{
    justify-content: space-around;
}
.background-2 {
    background-image: url('../../../../assets/img/menu/coffee-171653_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    }
    .wrap {
        width: 100%;
        height: 188px;
        position: absolute;
        top: -8px;
        left: 8px;
        overflow: hidden;
      }
      .wrap:before, .wrap:after {
        content: ""; 
        position: absolute;
      }
      .wrap:before {
        width: 40px;
        height: 8px;
        right: 100px;
        background:#ff8a12;;
        border-radius: 8px 8px 0px 0px;
      }
      .wrap:after {
        width: 8px;
        height: 40px;
        right: 0px;
        top: 100px;
        background: #ff8a12;;
        border-radius: 0px 8px 8px 0px;
      }
      .ribbon6 {
        width: 200px;
        height: 24px;
        line-height: 19px;
        position: absolute;
        top: 30px;
        right: -50px;
        z-index: 2;
        overflow: hidden;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 1px dashed;
        box-shadow:0 0 0 3px #ff8a12,  0px 21px 5px -18px rgba(0,0,0,0.6);
        background:#ff8a12;
        text-align: center;
      }
      // p{
      // height: 64px;
      //  width: 200px;
      //  overflow-y: hidden;
      // }
      .card .btn-floating {
        display: inline-block;
        color: #fff;
        // position: relative;
        overflow: hidden;
        z-index: 1;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        background-color: #ad2222;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
        vertical-align: middle;
        font-size: 1rem;
        // box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    }
    .setposition{
      margin-left: 5rem;
    }
    