<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <div class="background row align-items-center mx-auto align-items-sm-center">
    <div class="container">
        <div class="row animated fadeInRight mx-0">
            <div class="px-0 p-lg-3 bg-info col-12 col-lg-6 rounded-right round col-md-12">
                <form name="form" class="p-5 bg-info text-white" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm"
                    novalidate>
                    <div class="flex-column text-center">
                        <img src="./../../../../assets/img/gallery/icon.png" class="icon-size">
                 
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 col-12">
                            <label class="text-white">Email</label>
                            <input type="text" name="email" class="form-control is-invalid" [(ngModel)]="user.email"
                                #email="ngModel" [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }"
                                placeholder="Enter Email" required email>
                            <div *ngIf="loginForm.submitted || email.invalid" class="invalid-feedback-2 col-3 ml-auto">
                                <div *ngIf="email.errors.required">required</div>
                            </div>
                            <div *ngIf="loginForm.submitted || email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-12">
                            <label class="text-white">Password</label>
                            <input type="password" [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }"
                                class="form-control" name="password" required minlength="4" #password="ngModel"
                                [(ngModel)]="user.password" placeholder="Password">
                            <div *ngIf="loginForm.submitted && password.invalid"
                                class="invalid-feedback-2 col-3 ml-auto">
                                <div *ngIf="password.errors.required">required</div>
                            </div>
                            <div *ngIf="loginForm.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors.minlength">Enter at least 4 Characters</div>
                            </div>
                        </div>
                    </div>
     
                    <button type="submit" class="btn b1 btn-block px-0 mt-3 form-control rounded">Submit</button>
                    <button [routerLink]="['/']" routerLinkActive="router-link-active"
                        class="btn btn-success btn-block px-0 form-control rounded d-lg-none d-sm-block">SignUp</button>
                
                </form>
            </div>
            <div class="px-0 col-12 col-lg-6 col-md-6 d-none d-lg-block ">
                <img src="../../../../assets/img/gallery/default-login.jpg"
                    class="rounded-left round img-fluid w-100 img2" alt="">
                    <button class="btn b1 btn-position" (click)="guest()">Guest</button>     
                </div>
            </div>
        </div>
    </div> -->