.top {
    top: 200px;
    }
    .background{
    // background: linear-gradient(110deg, #5d73d6 60%, #0796f5 60%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    }
    /* @media screen and (max-width: 600px) {
    
    .background{
    height: 930px;
    background-attachment: fixed;
    }
    
    } */
    /* @media screen and (max-width: 600px) {
    
    img { display: none; }
    
    } */
    // .bg{
    // background: linear-gradient(-110deg, #4e66d3 60%, #0796f5 60%);
    // }
    /*
    form{
    margin-top: 50px;
    }
    @media screen and (max-width: 600px) {
    
    form { margin-top: 0px; }
    
    } */
    .b1{
    background-color: #08fff4;
    
    }
    .btn-position{
        position: absolute;
    }
    .image-view{
        position: relative;
    }
    .color{
    background-color: #2faddf;
    width: 100%;
    height: 571px;
    top: 0;
    opacity: 0.5;
    }
    .img2{
    height: 551px;
    position: absolute;
    opacity: 1;
    }
    @media screen and (max-width: 600px) {
    
    .color{
    opacity: 0;
    }
    
    }
    .image-text {
    position: absolute;
    top: 0%;
    }
    .animated {
    animation-duration: 1.5s;
    }
    @-webkit-keyframes fadeInRight {
    from {
    opacity: 0;
    transform: scale(1.5);
    }
    
    to {
    opacity: 1;
    transform: none;
    }
    }
    
    @keyframes fadeInRight {
    from {
    opacity: 0;
    transform: scale(0);
    }
    
    to {
    opacity: 1;
    transform: none;
    }
    }
    
    .fadeInRight {
    animation-name: fadeInRight;
    }
    .icon-size{
    height: 190px;
    width: 190px
    }