#login {
  // background-image: url("../../../../assets/img/gallery/light-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  .login-img {
  padding: 0;
  background: #f0f0f0;
  }
  .form-group {
  position: relative;
  }
  .invalid-feedback {
  position: absolute;
  right: 8%;
  width: 35px;
  top: 49%;
  }
  
  .login-btn {
  .btn.btn-outline-primary {
  &:hover {
  a {
  color: #fff;
  }
  }
  }
  }
  .recover-pass {
  button.btn.btn-primary {
  color: #fff !important;
  }
  }
  .forgot-password-option,
  .remember-me {
  a.text-decoration-none,
  .custom-control-label {
  font-size: 14px;
  }
  }
  }