<!--Registration Page Starts-->
<!-- <section id="regestration">
    <div class="container-fluid">
      <div class="row full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card">
            <div class="card-content">
              <div class="card-body register-img">
                <div class="row m-0">
                  <div class="col-lg-6 d-none d-lg-block py-2 px-3 text-center">
                    <img
                      src="../../assets/img/gallery/register.png"
                      alt=""
                      class="img-fluid mt-3 pl-3"
                      width="400"
                      height="230"
                    />
                  </div>
                  <div class="col-lg-6 col-md-12 pt-3 px-4 bg-white">
                    <h4 class="card-title mb-2">Create Account</h4>
                    <p class="card-text mb-3">
                      Fill the below form to create a new account.
                    </p>
                    <input
                      type="text"
                      class="form-control mb-3" [(ngModel)]="user.name"
                      placeholder="Name"
                    />
                    <input
                      type="email"
                      class="form-control mb-3" [(ngModel)]="user.email"
                      placeholder="Email"
                    />
                    <input
                      type="password"
                      class="form-control mb-3" [(ngModel)]="user.password"
                      placeholder="Password"
                    />
                    <input
                      type="password"
                      class="form-control mb-3" [(ngModel)]="user.confirmPassword"
                      placeholder="Confirm Password" 
                    />
                    <div
                      class="custom-control custom-checkbox custom-control-inline mb-3"
                    >
                      <input
                        type="checkbox"
                        id="customCheckboxInline1"
                        name="customCheckboxInline1"
                        class="custom-control-input"
                        checked
                      />
                      <label
                        class="custom-control-label"
                        for="customCheckboxInline1"
                      >
                        I accept the terms & conditions.
                      </label>
                    </div>
                    <div class="fg-actions d-flex justify-content-between">
                      <div class="login-btn">
                        <button class="btn btn-outline-primary">
                          <a
                            href="login-page.html"
                            class="text-decoration-none"
                            [routerLink]="['/login']"
                          >
                            Back To Login
                          </a>
                        </button>
                      </div>
                      <div class="recover-pass">
                        <button class="btn btn-primary" (click)="save(user)">
                          <a class="text-decoration-none text-white">
                            Register
                          </a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!--Registration Page Ends-->
  <!--Registration Page Starts-->
<!-- <section id="regestration">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body register-img">
              <div class="row m-0">
                <div class="col-lg-6 d-none d-lg-block py-2 px-3 text-center">
                  <img
                    src="../../assets/img/gallery/register.png"
                    alt=""
                    class="img-fluid mt-3 pl-3"
                    width="400"
                    height="230"
                  />
                </div>
                <div class="col-lg-6 col-md-12 pt-3 px-4 bg-white">
                  <h4 class="card-title mb-2">Create Account</h4>
                  <p class="card-text mb-3">
                    Fill the below form to create a new account.
                  </p>
                  <form class="ng-untouched  ng-invalid">
                    <div class="form-group">
                      <input type="text" formControlName="name" placeholder="Name" class="form-control mb-2 ng-untouched  ng-invalid">
                    </div>
                    <div class="form-group">
                      <input type="email" formControlName="email" placeholder="Email" class="form-control mb-2 ng-untouched  ng-invalid">
                    </div>
                    <div class="form-group">
                      <input type="password" formControlName="password" placeholder="Password" class="form-control mb-2 ng-untouched ng-invalid">
                    </div>
                    <div class="form-group">
                      <input type="password" formControlName="confirmPassword" placeholder="ConfirmPassword" class="form-control mb-2 ng-untouched  ng-invalid">
                    </div>
                    <div
                    class="custom-control custom-checkbox custom-control-inline mb-3"
                  >
                    <input
                      type="checkbox"
                      id="customCheckboxInline1"
                      name="customCheckboxInline1"
                      class="custom-control-input"
                      checked
                    />
                    <label
                      class="custom-control-label"
                      for="customCheckboxInline1"
                    >
                      I accept the terms & conditions.
                    </label>
                  </div>
                  <div class="fg-actions d-flex justify-content-between">
                    <div class="login-btn">
                      <button class="btn btn-outline-primary">
                        <a
                          href="login-page.html"
                          class="text-decoration-none"
                          [routerLink]="['/pages/login']"
                        >
                          Back To Login
                        </a>
                      </button>
                    </div>
                    <div class="recover-pass">
                      <button class="btn btn-primary" (click)="save(user)">
                        <a class="text-decoration-none text-white">
                          Register
                        </a>
                      </button>
                    </div>
                  </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--Registration Page Ends-->
<section id="login">
  <div class="container-fluid">
      <div class="row full-height-vh m-0">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="card">
                  <div class="card-content">
                      <div class="card-body login-img">
                          <div class="row m-0">
                              
                              <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                                  <h4 class="card-title mb-2">Create Account</h4>
                                  <p class="card-text mb-3">
                                    Fill the below form to create a new account.
                                  </p>
                                  <form [formGroup]="registerForm" (ngSubmit)="uf.form.valid && onSubmit()"
                                      #uf="ngForm">
                                      <div class="form-group mb-0">
                                          <input type="text" formControlName="UserName" class="form-control mb-3" placeholder="Name" autocomplete="off"
                                              [ngClass]="{'is-invalid':(registerForm.get('UserName')!.touched ||uf.submitted)
                                              && registerForm.get('UserName')!.invalid}" required>
                                          <div class="invalid-feedback efe">
                                              <div *ngIf="registerForm.get('UserName')?.errors?.required"
                                                  class="d-flex justify-content-end">
                                                  Required
                                              </div>
                                              <div *ngIf="registerForm.get('UserName')?.errors?.email"
                                                  class="d-flex justify-content-end">
                                                  Invalid
                                              </div>
                                          </div>
                                      </div>
                                      <div class="form-group mb-0">
                                        <!-- <label for="UserName">Name</label> -->
                                        <input type="email" formControlName="email" class="form-control mb-3" placeholder="Email" autocomplete="off"
                                            [ngClass]="{'is-invalid':(registerForm.get('email')!.touched ||uf.submitted)
                                            && registerForm.get('email')!.invalid}" required>
                                        <div class="invalid-feedback efe">
                                            <div *ngIf="registerForm.get('email')?.errors?.required"
                                                class="d-flex justify-content-end">
                                                Required
                                            </div>
                                            <div *ngIf="registerForm.get('UserName')?.errors?.email"
                                                class="d-flex justify-content-end">
                                                Invalid
                                            </div>
                                        </div>
                                    </div>
                                      <div class="form-group mb-3"> 
                                        <!-- <label for="Password">Password</label> -->
                                          <input type="password" formControlName="Password" class="form-control" placeholder="Password" autocomplete="off"
                                              [ngClass]="{'is-invalid':(registerForm.get('Password')!.touched ||uf.submitted)
                                             && registerForm.get('Password')!.invalid}" required maxlength="12">
                                          <div class="invalid-feedback pfe">
                                              <div class="d-flex justify-content-end">
                                                  Required
                                              </div>

                                          </div>
                                      </div>
                                      <div class="form-group"> 
                                        <input type="password" formControlName="ConfirmPassword" class="form-control mb-3" placeholder="Confirm Password"
                                            [ngClass]="{'is-invalid':(registerForm.get('ConfirmPassword')!.touched ||uf.submitted)
                                           && registerForm.get('ConfirmPassword')!.invalid}" required maxlength="12">
                                        <div class="invalid-feedback pfe">
                                            <div class="d-flex justify-content-end">
                                                Required
                                            </div>
                                        </div>
                                    </div>
                                       <input type="hidden" formControlName="RoleID" value="1">
                                        <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                        <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1" class="custom-control-input" checked/>
                                        <label class="custom-control-label" for="customCheckboxInline1">I accept the terms & conditions.</label>
                                      </div>
                                      <div class="fg-actions d-flex justify-content-between">
                                        <div class="login-btn">
                                          <button class="btn btn-outline-primary">
                                            <a href="login-page.html" class="text-decoration-none"[routerLink]="['/login']"> Back To Login</a>
                                          </button>
                                        </div>
                                        <div class="recover-pass">
                                          <button class="btn btn-primary" ><a class="text-decoration-none text-white">Register</a></button>
                                        </div>
                                        </div>
                                  </form>
                                  
                              </div>
                              <div class="col-lg-6 d-lg-block d-none text-center align-middle login-img">
                                <img src="./../../../../assets/img/gallery/default-login.jpg" alt="" width="400"
                                    height="374" />
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>