
.card .btn-floating.halfway-fab {
    position: absolute;
    right: 24px;
    bottom: 91%;
  }
  tr:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgrey 0px 2px 10px;
    z-index: 999;
    border-radius: 6px;
  }
  tr {
    height: 4rem;
  }
  .table td {
    padding: 0.5rem 0rem !important;
    vertical-align: middle;
    align-self: center;
}
