<section id="sizing">
  <!-- <div class="row text-left">
    
    <div class="col-12 mt-3 mb-1">
      
      <div class="content-header">MENU ITEM
       
      </div>
    </div> -->
  <!-- </div> -->
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-capitalize">Menu List</h4>
          <button
            class="btn btn-floating halfway-fab bg-warning"
            (click)="addMenu()"
          >
            <i class="ft-plus"></i>
          </button>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="">
              <div class="row mx-0">
                <div class="col-12">
                  <div class="bg-white table-responsive-sm">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Menu Name</th>
                          <th class="text-center">Quantity</th>
                          <th class="text-center">Price</th>
                          <th class="text-center">Discount</th>
                          <th class="text-center">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of menu">
                          <td>
                            <img
                              class="img-fluid"
                              style="
                                width: 30px;
                                border-radius: 50%;
                                height: 30px;
                              "
                              [src]="baseURL + item.ImageURL"
                            />
                            <span class="ml-3">{{ item.MenuName }}</span>
                          </td>
                          <td class="text-center"><span>{{ item.Quantity }}</span></td>
                          <td class="text-center"><span>{{ item.OriginalPrice }}</span></td>
                          <td class="text-center">
                            <span class="badge badge-primary"
                              >{{ item.Discount }}%</span
                            >
                          </td>
                          <td class="text-center">
                            <!-- <a class="info p-0" data-original-title="" title="">
                          <i class="ft-user font-medium-3 mr-2"></i>
                        </a> -->
                            <a
                              class="success p-0"
                              data-original-title=""
                              title=""
                              (click)="updateMenu(item.MenuID)"
                            >
                              <i class="ft-edit-2 font-medium-3 mr-2"></i>
                            </a>
                            <a
                              class="danger p-0"
                              data-original-title=""
                              title=""
                              (click)="openModal(item.MenuID,customContent)"
                            >
                              <i class="ft-x font-medium-3 mr-2"></i>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="col-sm-12 col-md-6 col-lg-4">
  <div class="card-content">
    <div class="card-body">
      <ng-template #customContent let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Delete Category</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Menu Item?
        </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-raised" style="margin-right: 25rem;"  (click)="deleteMenu()" >Yes</button>
          <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">No</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
