<!-- <section>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="card-text"></div>
            <form
              name="form"
              class="text-white"
              (ngSubmit)="categoryform.form.valid && updateCategory()"
              #categoryform="ngForm"
              novalidate
            >
              <div class="form-body">
                <h4 class="form-section mt-3">
                  <i class="fa fa-list-alt" aria-hidden="true"></i> ADD CATEGORY
                </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-item">
                      <input
                        type="text"
                        id="projectinput1"
                        autocomplete="off"
                        required
                        value="test"
                        class="form-control is-invalid mb-0"
                        name="fname"
                        [(ngModel)]="category.CategoryName"
                        #fname="ngModel"
                        [ngClass]="{
                          'is-invalid': categoryform.submitted && fname.invalid
                        }"
                      />
                      <label for="Name">Name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-item">
                      <input
                        id="projectinput10"
                        rows="1"
                        required
                        class="form-control is-invalid mb-0"
                        name="Description"
                        [(ngModel)]="category.Notes"
                        [ngModelOptions]="{ standalone: true }"
                        #Description="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            categoryform.submitted && Description.invalid
                        }"
                      />

                      <label for="Notes">Description</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-item">
                      <input
                        type="text"
                        id="projectinput4"
                        autocomplete="off"
                        required
                        name="Discount"
                        class="form-control is-invalid mb-0"
                        [(ngModel)]="category.Discount"
                        [ngModelOptions]="{ standalone: true }"
                        #Discount="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            categoryform.submitted && Discount.invalid
                        }"
                        required
                      />>
                      <label for="Discount">Discount</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-item">
                      <input
                        type="text"
                        id="1"
                        name="Resturant"
                        autocomplete="off"
                        name=""
                        class="form-control is-invalid mb-0"
                        [(ngModel)]="category.RestaurantID"
                        [ngModelOptions]="{ standalone: true }"
                        #Resturant="ngModel"
                        [ngClass]="{
                          'is-invalid':
                            categoryform.submitted && Resturant.invalid
                        }"
                        required
                      />
                      <label for="Discount">Resturant</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div *ngIf="category.base64Url == undefined" class="form-group form-item">
                    <img [src]="baseURL + category.ImageURL" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="hoverable" for="fileInput">
                      <img [src]="category.base64Url" />
                    </label>
                    <input
                      class="form-control"
                      style="padding: 2px 0px 0px 1px"
                      id="fileInput"
                      type="file"
                      (change)="onSelect($event)"
                    />
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button
                  type="button"
                  class="btn btn-raised btn-warning mr-1"
                  (click)="back()"
                >
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="ft-check"></i> Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
