<section id="sizing">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title text-capitalize">
            Categories
            <button
              class="btn btn-floating halfway-fab bg-warning"
              (click)="addCategory()"
            >
              <i class="ft-plus"></i>
            </button>
          </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="">
              <div class="row mx-0">
                <div class="col-12">
                  <div class="bg-white">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th class="text-center">Discount</th>
                          <!-- <th>Notes</th> -->
                          <th class="text-center">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of category">
                          <td>
                            <img
                              class="img-fluid"
                              [src]="baseURL + item.ImageURL"
                            />
                            <span class="ml-3">{{ item.CategoryName }}</span>
                          </td>

                          <td class="text-center">
                            <span class="badge badge-primary"
                              >{{ item.Discount }}%</span
                            >
                          </td>
                          <!-- <td>{{item.Notes |slice:0:80}}</td> -->
                          <!-- <td>{{item.ImageURL|slice:0:35}}</td> -->

                          <td class="text-center">
                            <!-- <a class="info p-0" data-original-title="" title="">
                            <i class="ft-user font-medium-3 mr-2"></i>
                          </a> -->
                            <a
                              class="success p-0"
                              data-original-title=""
                              title=""
                              (click)="updateCategory(item.CategoryID)"
                            >
                              <i class="ft-edit-2 font-medium-3 mr-2"></i>
                            </a>
                             <a
                              class="danger p-0"
                              data-original-title=""
                              title=""
                              (click)="openModal(item.CategoryID,customContent)"
                            >
                              <i class="ft-x font-medium-3 mr-2"></i>
                            </a>
                             <!-- <a
                            class="danger p-0"
                            data-toggle="modal"
                            data-target="#customContent"
                            (click)="openModal(item.CategoryID,customContent)"
                          >
                            <i class="fa-trash-o mr-2"></i>
                          </a>  -->

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
</section>


 <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card-content">
      <div class="card-body">
        <ng-template #customContent let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Delete Category</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger">
              <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Category?
          </div>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-raised" style="margin-right: 25rem;"  (click)="deleteCategory1()" >Yes</button>
            <button type="button" class="btn btn-raised btn-warning btn-raised" (click)="c('Close click')"> No</button>
          </div>
        </ng-template>
      </div>
    </div>
</div>