// .card .btn-floating.halfway-fab {
//     position: absolute;
//     right: 4px;
//     bottom: 974px;
// }
th {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem
}
// button{
//   float: right;  
// }
.card .btn-floating.halfway-fab {
  position: absolute;
  right: 24px;
  bottom: 86%;
}
.img-fluid{
  width: 30px; 
  border-radius: 50%;
   height: 30px
}
tr:hover {
  cursor: pointer;
  transform: translate(1px, 1px);
  box-shadow: lightgrey 0px 2px 10px;
  z-index: 999;
  border-radius: 6px;
}
tr {
  height: 4rem;
}
.table td {
  padding: 0.5rem 0rem !important;
  vertical-align: middle;
  align-self: center;
}


