<!--Tabs Starts-->
<section id="tabs">
    <div class="row text-left">
      <!--Tabset Starts-->
      <div class="col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row mx-0 justify-content-between">
              <h4 class="card-title">Order Details</h4>
              <i class="fa fa-times cursor-pointer font-20" (click)="hideSideBar()"></i>
            </div>
            <div class="row mx-0 mt-4">
              <p class="font-weight-bold mb-0">Your Order Number</p>
              <p class="ml-auto mr-3 mb-0  badge badge-pill
              bg-light-info
              ng-star-inserted">
              {{ orderID }}</p>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body">
              <ngb-tabset>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Items</b></ng-template>
                  <ng-template ngbTabContent>
                    <div
                      class="row order-animation just-content-space-btw"
                      *ngFor="let item of orderItem"
                    >
                      <img
                        class="tab-Image mb-3"
                        [src]="base_URL + item.ImageURL"
                        alt=""
                        srcset=""
                      />
                      <p class="align-self-center">{{ item.MenuName }}</p>
                      <p class="align-self-center">{{ item.StatusName }}</p>
                      <p class="align-self-center">
                        {{ item.Quantity }} <span>Items</span>
                      </p>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Billing</b></ng-template>
                  <ng-template ngbTabContent>
                    <div class="order-animation">
                      <div
                        class="row order-animation"
                        *ngFor="let item of orderItem"
                      >
                        <p class="align-self-center mx-3">
                          {{ item.Quantity }}<span class="ml-1">x</span>
                        </p>
                        <p class="align-self-center mx-3">{{ item.MenuName }}</p>
                        <p class="align-self-center ml-auto mx-3">
                          <span>Rs.</span
                          >{{ item.Quantity * item.Price | number: "1.2-2" }}
                        </p>
                      </div>
                      <hr />
                      <div class="row mx-0">
                        <p>Gratuity</p>
                        <p class="ml-auto">{{ gratuity }}%</p>
                      </div>
                      <div class="row mx-0">
                        <p>Tip</p>
                        <p class="ml-auto"><span>Rs.</span>{{ tip }}</p>
                      </div>
                      <hr>
                      <div class="row mx-0">
                        <p>TotalAmount</p>
                        <p class="ml-auto"><span>Rs.</span>{{ totalAmount | number: "1.2-2" }}</p>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  