// *,
// *:focus{outline: none}

// .form{
//   width: 500px;
//   margin: 0 auto;
//   margin-top: 150px;
//   font-family: sans-serif;
//   background: #fff
// }
// .form-item{
//   position: relative;
//   margin-bottom: 15px
// }
// .form-item input{
//   display: block;
//   height: 40px;
//   background: transparent;
//   border: solid 1px #ccc;
//   transition: all .3s ease;
//   padding: 0 15px
// }
// .form-item input:focus{
//   border-color: blue
// }
// .form-item label{
//   position: absolute;
//   cursor: text;
//   z-index: 2;
//   top: 13px;
//   left: 10px;
//   font-size: 12px;
//   font-weight: bold;
//   background: #fff;
//   padding: 0 10px;
//   color: #999;
//   transition: all .3s ease
// }
// .form-item input:focus + label,
// .form-item input:valid + label{
//   font-size: 11px;
//   top: -5px
// }
// .form-item input:focus + label{
//   color: blue
// }
// img{
//   width: 97px
// }

//floating label 

.input-group {
  position: relative;
  margin-bottom: 20px;
  }
  
  .input-group input{
  width: 100%;
  height: 40px;
  padding: 18px;
  outline: none;
   border: 1px solid gray;
   border-radius: 4px;
  }
  
  
  .input-group span{
  font-size: 12px;
  position: absolute;
  left: 20px;
  top: 8px;
  transform: 1.2s;
  pointer-events: none;
  background: rgb(255, 255, 255);
  text-transform: capitalize;
  // color: rgb(28, 119, 224);
  color: black;
  }
  .input-group input:focus ~ span,
  .input-group input:valid ~ span
  {
  top: -10px;
  left: 25px;
  font-size: 13px;
  // color: #16bae7;
  transform: 0.2s;
  }
  .floating-input {
  width: 90%;
  height: 40px;
  padding: 4px;
  // border: 1px solid #16bae7;
  border-radius: 50px;
  box-shadow: none;
  background-color: white;
  outline: none;
  
  
  }
  .floating-input:focus~label, .floating-input:not(:placeholder-shown)~label {
  top: -9px;
  font-size: 12px;
  padding: 0 3px;
  background-color: #fff;
  // color: #16bae7;
  
  }
  label.input-label {
  
  font-weight: 400;
  position: absolute;
  pointer-events: none; 
  left: 34px;
  top: 8px;
  transition: .2s ease all;
  }
  .ng-touched.ng-invalid {
    border-color: gray;
}
.error-block{
  position: absolute;
    top: 24px;
    left: 77%;
    right: 0;
}

.backgroundimg {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .wrapper {
  box-shadow: 0px 0px 20px 8px lightgrey;
  }
  
  .profileimage {
  height: 150px;
  border-radius: 50%;
  }
  
  p {
  font-family: Lato;
  }
  
  .category-img {
  height: 300px;
  width: 100%;
  }
  .hoverable {
  position: relative;
  display: block;
  cursor: pointer;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  }
  .hoverable .hover-text {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  }
  
  .hoverable .background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
  }
  .hoverable:hover .hover-text {
  display: block;
  }
  .hoverable:hover .background {
  display: block;
  }
  
  #fileInput {
  display: none;
  }
  .text-info {
  margin-left: 30%;
  }
  
  .cancelbutton {
  position: absolute;
  top: 12%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 6;
  background-color: white;
  color: #dc3545;
  height: 25px;
  width: 22px;
  border: none;
  border-radius: 50%;
  }
  .Itex {
  z-index: 2;
  position: absolute;
  }
  /*
  card body */
  .card {
  background-color:white
  }
  
  .invalid-feedback {
  margin-left: 0;
  position: absolute;
  top: 38px;
  right: 30px;
  width: 5px;
  }
  
  .btn-primary {
  border-radius: 8px;
  }
  .btn-secondary {
  border-radius: 8px;
  }

  //Input change 
  .img-space {
    height: auto;
    width: 100px;
    margin: auto;
    border-radius: 50%;
}

.img-space img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
}

.fileInputProfileWrap {
    width: 100%;
    height: auto;
}

.fileInputProfile {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 99;
    opacity: 0;
}


.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}

.cross-icon{
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  font-size: 20px;
  z-index: 100;
}