<section>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="card-text">
            </div>
            <form
              name="form "
              class="text-danger px-3"
              (ngSubmit)="
              CategoryID == undefined
              ? categoryform.form.valid && addCategory(category) 
              : categoryform.form.valid && EditCategory()
              "
              #categoryform="ngForm"
              novalidate
            >
              <div class="form-body">
                <h4 *ngIf="!CategoryID" class="form-section mt-3">
                  <i class="fa fa-list-alt" aria-hidden="true"></i> Add Category
                </h4>
                <h4 *ngIf="CategoryID" class="form-section mt-3">
                  <i class="fa fa-list-alt" aria-hidden="true"></i> Edit Category
                </h4>
              
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                        type="text"
                        id="projectinput1"
                        autocomplete="off"
                        required
                        value=""
                        class=" is-invalid mb-0"
                        
                        name="fname"
                        [(ngModel)]="category.CategoryName"
                        #fname="ngModel"
                      />
                      <span >Name</span>
                      
                    </div>
                    <div class="error-block"
                      *ngIf="!fname.valid && (fname.touched || fname.dirty) || (categoryform.submitted)
                      && fname.errors?.required">
                      <div  *ngIf="fname.errors['required']" style="margin-top: -18px">
                      Required
                      </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                        id="projectinput10"
                        rows="1"
                        required
                        class=" is-invalid mb-0"
                        name="Description"
                        [(ngModel)]="category.Notes"
                        [ngModelOptions]="{ standalone: true }"
                        #Description="ngModel"
                      />
                      <span >Description</span>
                    </div>
                    <div class="error-block"
                    *ngIf="!Description.valid && (Description.touched || Description.dirty) || (categoryform.submitted)
                    && Description.errors?.required">
                    <div *ngIf="fname.errors['required']" style="margin-top: -18px">
                    Required
                    </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        id="projectinput4"
                        autocomplete="off"
                        required
                        name="Discount"
                        class=" is-invalid mb-0"
                        [(ngModel)]="category.Discount"
                        [ngModelOptions]="{ standalone: true }"
                        #Discount="ngModel"
                        
                        required
                      />
                      <span >Discount</span>
                     
                    </div>
                    <div class="error-block"
                    *ngIf="!Discount.valid && (Discount.touched || Discount.dirty) || (categoryform.submitted)
                    && Discount.errors?.required">
                    <div *ngIf="Discount.errors['required']" style="margin-top: -18px">
                    Required
                    </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                        id="1"
                        name="Resturant"
                        autocomplete="off"
                        name=""
                        class=" is-invalid mb-0"
                        [(ngModel)]="category.RestaurantID"
                        [ngModelOptions]="{ standalone: true }"
                        #Resturant="ngModel"
                        
                        required
                      />
                      <span >Restaurant</span>
                    </div>
                    <div class="error-block"
                    *ngIf="!Resturant.valid && (Resturant.touched || Resturant.dirty) || (categoryform.submitted)
                    && Resturant.errors?.required">
                    <div *ngIf="Resturant.errors['required']" style="margin-top: -18px">
                    Required
                    </div>
                    </div>
                  </div>
                </div>
                <!-- <div *ngIf="CategoryID && category.base64Url == undefined" class="col-md-6">
                  <div class="form-group input-group">
                    <img [src]="baseURL + category.ImageURL ? url : 'https://www.w3schools.com/howto/img_avatar.png'" />
                  </div>
                </div> -->
                <!-- <div class="col-md-6">
                  <label class="hoverable" for="fileInput">
                    <img [src]="baseURL + category.ImageURL " />
                    <div class="hover-text">Choose file</div>
                     <div class="background"></div>
                   
                  </label> -->
                  
                  <!-- <input
                    class="form-control"
                    style="padding: 2px 0px 0px 1px"
                    id="fileInput"
                    type="file"
                    (change)="onSelect($event)"
                  />       -->
                  <!-- <input class="form-control" id="fileInput"  type='file' (change)="onSelect($event)">
                </div>  -->
                
                <div class="col-lg-6 col-12">
                  <div class="pt-2 cursor ">
                    <input type="file" (change)="fileChangeEvent($event)"
                      class="fileInputProfile cursor"
                      name="categogyImage" 
                      >
                      <ng-container *ngIf="!isImageSaved">
                       <img [src]="baseURL + category.ImageURL" class="img-responsive category-img cursor" *ngIf=" category.ImageURL!=undefined || category.ImageURL!=null" />
                       <i class="svg-icon add-image cursor mx-5" *ngIf=" category.ImageURL==undefined || category.ImageURL==null"></i>
                       <span class="text-black row mx-0" *ngIf=" category.ImageURL==undefined || category.ImageURL==null">Upload category image</span>
                       
                      </ng-container>
                    <ng-container *ngIf="isImageSaved;">
                      <img class="cursor" [src]="cardImageBase64" class="img-responsive category-img" />
                        <i *ngIf!="cardImageBase64" class="fa fa-pencil icon p-1 cursor cross-icon" aria-hidden="true"></i>  
                    </ng-container>
                  <div *ngIf="isImageSaved" class="row">
                      <i class="fa fa-times icon p-1 cancelIcon cursor cross-icon" (click)="removeImage()" aria-hidden="true"></i>
                    </div>
                    <!-- <div *ngIf=" category.ImageURL!=undefined || category.ImageURL!=null" class="row">
                    
                      <i class="fa fa-times icon p-1 cancelIcon cursor cross-icon" (click)="changeImage()" aria-hidden="true"></i>
                    </div> -->

                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button
                  type="button"
                  class="btn btn-raised btn-warning mr-1"
                  (click)="back()"
                >
                  <i class="ft-x"></i> Cancel
                </button
                >
                <button *ngIf="!CategoryID" type="submit" class="btn btn-raised btn-primary">
                  <i class="ft-check"></i> Save
                </button>
                <button
                  *ngIf="CategoryID"
                  type="submit"
                  class="btn btn-raised btn-primary"
                >
                  <i class="ft-check"></i> Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

 