 h1{
    text-align: center;
}
img{
    width: 3.5rem
}
.text-end{
text-align: end;
font-family: 'Vast Shadow', cursive;
font-size:3rem;
}

.highlight{
background:#64be9b /* green */
}
.background{
background-color: #8fa7bd;
}
.tbl-heading {
background-color: #3f4e55;
}