    <div class="container"> 
      <div class="row">
        <div class="col-md-12">
          <div class="bg-white">
    <section id="kitchen-status">
      <div class="row text-left">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header background">
              <h4 class="card-title text-center text-white">Order Details</h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <table class="table table-responsive-md text-center">
                  <ng-container *ngFor="let p of AddToList">
                  <thead class="tbl-heading text-white">
                    <tr >
                      <th>Order# {{p.OrderID}}</th>
                      <th>Ready In</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let m of cartItemStatus | orders : p.OrderID : 'OrderID'"
                    [ngClass]="m.StatusID == 3 ? 'bg-success text-white'  : ''">
                      <td>
                        {{m.MenuName}}
                      </td> 
                      <td>
                        <p *ngIf="completeOrder ||m.StatusID == 3">{{m.PreparationTime*60}}</p>
                        <div hidden id="{{m.OrderItemID}}">
                          <countdown #cd [config]="{leftTime:m.PreparationTime*60}"></countdown>
                        </div>
                      </td>
                      <td>
                        <a class="danger " data-original-title="" title="">
                          <button *ngIf="completeOrder ||m.StatusID !== 3"[disabled]="m.StatusID == 3" class="btn btn-success btn-raised" (click)="completeStatus(m.OrderItemID,cd)">Complete</button>
                        </a>
                        <div *ngIf="isOrderCompleted || m.StatusID == 3" class="badge badge-pill bg-light-success ng-star-inserted"> Completed</div>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

