.bg-light-info {
  background-color:rgb(81, 84, 207)!important;
  color:white!important;
    border-color:#f2dcf5;
}
.bg-light-success {
  background-color: #34de0e !important;
  color: white!important;
    border-color: #e0fbda;
}
.order-animation {
    animation: slideIn ease 1.5s;
    animation-iteration-count: 1;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(400px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  tr:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgrey 0px 2px 10px;
    z-index: 999;
    border-radius: 6px;
}
tr {
    height: 4rem;
}
.table td {
    padding: 0.5rem 0rem !important;
    vertical-align: middle;
    align-self: center;
}
.badge-pill {
  padding-right: 1.6em !important;
  padding-left: 1.6em !important;
  padding-bottom: 0.6rem !important;
  padding-top: 0.6rem !important;
}
