<!-- Navbar (Header) Starts -->
<nav
  class="header-navbar navbar navbar-expand-lg navbar-light bg-faded p-sticky"
  *ngIf="!isViewNavbar()"
>
  <div class="container-fluid">
    <div
      class="logo clearfix"
      style="cursor: pointer"
      *ngIf="token !== undefined || token !== null"
      [routerLink]="['/']"
    >
      <!-- <a [routerLink]="['/']" class="logo-text float-left"> -->
      <!-- <div class="logo-img">
                    <img [src]="logoUrl" />
                </div> -->
      <h2 class="text align-middle">Udipi Cafe</h2>
      <!-- </a> -->
    </div>

    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle d-lg-none float-left"
        data-toggle="collapse"
        (click)="toggleSidebar()"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="d-lg-none navbar-right navbar-collapse-toggle">
        <a
          class="open-navbar-container"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="navbarSupportedContent"
        >
          <i class="ft-more-vertical"></i>
        </a>
      </span>
    </div>
    <div class="navbar-container">
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        [ngbCollapse]="isCollapsed"
      >
        <ul class="navbar-nav">
          <!-- <li class="nav-item mr-2  d-none d-lg-block">
                        <a href="javascript:;" class="nav-link" id="navbar-fullscreen" appToggleFullscreen (click)="ToggleClass()">                            
                            <i class="{{toggleClass}} font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">fullscreen</p>
                        </a>
                    </li> -->

          <!-- <li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative" id="dropdownBasic2" ngbDropdownToggle>
                            <i class="ft-bell font-medium-3 blue-grey darken-4"></i>
                            <span class="notification badge badge-pill badge-danger"></span>
                            <p class="d-none">Notifications</p>
                        </a>
                    </li> -->
          <li
            *ngIf="_sharedService.customer != undefined"
            class="nav-item"
            (click)="onNavigateToOrders()"
            routerLinkActive="router-link-active"
          >
            <a class="nav-link position-relative">
              <i
                class="fa fa-shopping-basket font-medium-3"
                style="color: #20e06a"
              ></i>
              <span class="notification-2 badge badge-pill badge-warning">{{
                _sharedService.customer.orderCount
              }}</span>
            </a>
          </li>
          <li
            *ngIf="cartCount"
            class="nav-item"
            (click)="steps()"
            routerLinkActive="router-link-active"
          >
            <a class="nav-link position-relative">
              <i
                class="fa fa-cart-plus font-medium-3"
                style="color: #ffcc00"
              ></i>
              <span class="notification-2 badge badge-pill badge-warning">{{
                cartCount
              }}</span>
            </a>
          </li>
          <li
            class="nav-item"
            [routerLink]="['/login']"
            ngbDropdown
            [placement]="placement"
          >
            <a
              *ngIf="!_sharedService.logedName"
              class="nav-link position-relative"
              id="dropdownBasic3"
            >
              <i
                class="fa fa-user-circle-o font-medium-3 blue-grey darken-4"
              ></i>
              <!-- <p class="d-none">User Settings</p> -->
            </a>

            <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">                           
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-edit mr-2"></i>
                                <span>My Profile</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-mail mr-2"></i>
                                <span>My Inbox</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-settings mr-2"></i>
                                <span>Settings</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:;">
                                <i class="ft-power mr-2"></i>
                                <span>Logout</span>
                            </a>
                        </div> -->
          </li>
          <li class="nav-item" (click)="logOut()">
            <a
              *ngIf="_sharedService.logedName"
              class="nav-link position-relative"
              id="dropdownBasic3"
            >
              <i class="fa fa-sign-out font-medium-3 blue-grey darken-4"></i>
              <!-- <p class="d-none">User Settings</p> -->
            </a>
          </li>
          <!-- <li *ngIf="_sharedService.roleId == 1" class="nav-item d-lg-none d-md-none d-sm-block d-block">
            <a class="nav-link" [routerLink]="['admin/Category']" routerLinkActive="router-link-active" >Cateory</a>
          </li>
          <li *ngIf="_sharedService.roleId == 1" class="nav-item d-lg-none d-md-none d-sm-block d-block">
            <a class="nav-link" [routerLink]="['admin/Menu-item']" routerLinkActive="router-link-active" >Item</a>
          </li>
          <li *ngIf="_sharedService.roleId == 1" class="nav-item d-lg-none d-md-none d-sm-block d-block">
            <a class="nav-link" [routerLink]="['admin/order']" routerLinkActive="router-link-active" >Order</a>
          </li> -->
          <!-- <li class="nav-item" ngbDropdown [placement]="placement">
                        <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                            <i class="fas fa-shopping-basket font-medium-3  blue-grey darken-4"></i>   
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3" class="text-left">                           
                            <a class="dropdown-item py-1" href="javascript:;">
                                <span>My Orders</span>
                            </a>
                        </div>
                    </li> -->
          <!-- <li class="nav-item d-none d-lg-block">
                        <a class="nav-link position-relative notification-sidebar-toggle" (click)="toggleNotificationSidebar();">
                            <i class="ft-align-left font-medium-3 blue-grey darken-4"></i>
                            <p class="d-none">Notifications Sidebar</p>
                        </a>
                    </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar (Header) Ends -->
