// .background{
//     background-image: url('../../../assets/img/menu/kitchen-1336160_1280.jpg');
//     background-position: center;
//     height: 43vh;
//     width: 100%;
// }
    h1{
        text-align: center;
    }
    img{
        width: 3.5rem
    }
.text-end{
    text-align: end;
    font-family: 'Vast Shadow', cursive;
    font-size:3rem;
}

.highlight{
    background:#64be9b /* green */
  }
  .background{
background-color: #8fa7bd;
  }
  .tbl-heading {
background-color: #3f4e55;
  }