<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh m-0">
      <div class="col-12 d-lg-flex align-items-lg-center justify-content-center align-self-center">
        <div class="card">
          <div class="card-content">
            <div class="card-body login-img">
              <div class="row m-0">

                <div class="col-lg-7 col-md-12 bg-white px-4 pt-3">
                  <h4 class="card-title mb-2 text-capitalize">Login</h4>
                  <div class="mt-5 pt-3 mb-4">
                    <form [formGroup]="signinForm" (ngSubmit)="uf.form.valid && onSubmit()" #uf="ngForm">
                      <div class="form-group mb-3">
                        <input type="text" formControlName="UserName" class="form-control mb-3" [ngClass]="{'is-invalid':(signinForm.get('UserName')!.touched ||uf.submitted)
                                                && signinForm.get('UserName')!.invalid}" placeholder="Email" required>
                        <div class="invalid-feedback efe">
                          <div *ngIf="signinForm.get('UserName')?.errors?.required" class="d-flex justify-content-end">
                            Required
                          </div>
                          <div *ngIf="signinForm.get('UserName')?.errors?.email" class="d-flex justify-content-end">
                            Invalid
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <input type="password" placeholder="password" formControlName="Password"
                          class="form-control mb-3" [ngClass]="{'is-invalid':(signinForm.get('Password')!.touched ||uf.submitted)
                         && signinForm.get('Password')!.invalid}" required maxlength="12">
                        <div class="invalid-feedback pfe">
                          <div class="d-flex justify-content-end">
                            Required
                          </div>

                        </div>
                      </div>
                      <div class="d-flex justify-content-between mt-2">
                        <!-- <div class="remember-me">
                        <div class="custom-control custom-checkbox custom-control-inline mb-3">
                          <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1"
                            class="custom-control-input" />
                          <label class="custom-control-label" for="customCheckboxInline1">
                            Remember Me
                          </label>
                        </div>
                      </div> -->
                          <a [routerLink]="['/reset']" class="text-decoration-none text-primary">Forgot Password ?</a>
                          <a [routerLink]="['/register']" class="text-decoration-none text-primary ml-auto px-1">SignUp</a>
                       
                      </div>
                      <!-- <div class="fg-actions d-flex justify-content-between"> -->
                      <!-- <div class="login-btn">
                        <button class="btn btn-outline-primary">
                          <a [routerLink]="['/register']" class="text-decoration-none">Register</a>
                        </button>
                      </div> -->
                      <div class="row mx-0 justify-content-between">
                        <button [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn-outline-danger  mt-3 mb-3 px-4 mx-2">
                          <a class="text-decoration-none ">Back</a>
                        </button>
                        <button class="btn btn-outline-primary  mt-3 mb-3 px-4 mx-2">
                          <a class="text-decoration-none ">Login</a>
                        </button>
                        
                      </div>
                      
                    </form>
                  </div>

                  <div class="row justify-content-end">
                    <span class="font-12 text-gray">
                      <!-- <a [routerLink]="['/public/menu-list']">
                        Login Guest User</a>  -->
                        <!-- <button type="button" class="btn btn-primary btn-raised btn-block" id="steps" (click)="steps()">Login Guest User</button> -->
                      </span>

                    <!-- <span class=" font-12 sec-color cursor-point" tabindex="0">&nbsp;Contact US</span> -->
                  </div>
                </div>
                <div class="col-lg-5 d-lg-block d-none text-center align-middle login-img" [routerLink]="['/']">
                  <img src="./../../../../assets/img/gallery/default-login.jpg" alt="" width="400" height="374" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="card text-left">
  <div class="card-content">
      <div class="card-body">
          <div class="row mt-1">
              <div class="col-lg-4 col-sm-6 col-12">
                  <h5 class="mt-4">Confirm Button Action</h5>
                  <p>A warning message, with a function attached to the "Confirm"-button.</p>
                  <button type="button" class="btn btn-primary btn-raised btn-block" id="confirm-text" >Confirm Text</button>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                  <h5 class="mt-4">Confirm &amp; Cancel Button</h5>
                  <p>Confirm and cancel button excecution options.</p>
                  <button type="button" class="btn btn-primary btn-raised btn-block" id="confirm-cancel" >Buttons Actions</button>
              </div>
              <div class="col-lg-4 col-sm-6 col-12">
                  <h5 class="mt-4">Chaining modals</h5>
                  <p>Changing modal on next button.</p>
                  <button type="button" class="btn btn-primary btn-raised btn-block" id="steps" (click)="steps()">Steps</button>
              </div>
          </div>
      </div>
  </div>
</div> -->