<div class="row mx-0">
  <div
    [ngClass]="
      orderLength == 0 ? 'col-lg-12 col-md-12 col-sm-12' : 'col-lg-9 col-md-9'
    "
  >
    <div class="bg-white">
      <section id="kitchen-status">
        <div class="row text-left">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
              <div
                class="card-header background row mx-0 justify-content-between"
              >
                <h4 class="card-title">Food Order</h4>
                <button
                  class="btn btn-red text-white"
                  [routerLink]="['/']"
                  routerLinkActive="router-link-active"
                >
                  Place Another Order
                </button>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <table class="table table-responsive-md text-center">
                    <thead class="tbl-heading">
                      <tr>
                        <th>Order #</th>
                        <!-- <th>Item</th>
                        <th>Quantity</th>
                        <th>Preparation Time</th> -->
                        <th>Customer Name</th>
                        <th>Order Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let m of AddToList"
                        class="cursor-pointer"
                        (click)="
                          orderItemAgainstOrderID(
                            m.OrderID,
                            m.Gratuity,
                            m.Tip,
                            m.TotalAmount
                          );
                          scroll()
                        "
                      >
                        <td>
                          {{ m.OrderID }}
                        </td>
                        <td>
                          {{ m.CustomerFirstName }}
                        </td>
                        <td>
                          {{ m.OrderOn | date: "dd-MM-yyyy" }}
                        </td>
                        <td>
                          {{ m.TotalAmount | number: "1.2-2" }}
                        </td>
                        <td>
                          <div
                            *ngIf="m.StatusName === 'Pending'"
                            class="
                              badge badge-pill
                              bg-light-info
                              ng-star-inserted
                              text-white
                            "
                          >
                            Pending
                          </div>
                          <div
                            *ngIf="m.StatusName == 'Completed'"
                            class="
                              badge badge-pill
                              bg-light-success
                              ng-star-inserted
                            "
                          >
                            Completed
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div
    id="order"
    *ngIf="orderLength != 0"
    class="col-lg-3 col-md-3 col-sm-12 col-12 order-animation"
  >
    <app-order-item-side-bar
      (Orderlength)="receiveLength($event)"
      [totalAmount]="TotalAmount"
      [gratuity]="Gratuity"
      [tip]="Tip"
      [orderID]="OrderID"
      [orderItem]="filtered"
    ></app-order-item-side-bar>
  </div>
</div>
