.tab-Image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.bg-light-info {
  background-color:rgb(81, 84, 207)!important;
  color:white!important;
  border-color:#f2dcf5;
}
.badge-pill {
  padding-right: 0.6em !important;
  padding-left: 0.6em !important;
  padding-bottom: 0.6rem !important;
  padding-top: 0.6rem !important;
}
.order-animation {
    animation: popUp ease 1.5s;
    animation-iteration-count: 1;
  }
  
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(-200px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .just-content-space-btw{
    justify-content: space-between;
  }