<!-- <div class="pl-lg-5 mt-lg-5">
  <i class="fa fa-arrow-left" aria-hidden="true" (click)="prevPage()"></i>
</div> -->
<div class="card card-center shadow animated fadeInRight">
  <div class="row mx-0">
    <div
      class="col-lg-8 col-md-8 col-sm-12 col-12 mb-0 px-2 pt-3 pb-2 px-lg-4 py-lg-5 cart scroll-card-item"
    >
      <div class="title mb-0">
        <div class="row mx-0">
          <div class="col">
            <h4><b>Add to cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">
            {{ cartCountDetail }} items
          </div>
        </div>
      </div>
      <div
        class="border-top border-bottom"
        *ngFor="let item of cartItem; let i = index"
      >
        <div class="row justify-content-space-between main align-items-center">
          <div class="col-lg-3 col-2 px-0 text-center">
            <img class="img-size" [src]="baseURL + item.product.ImageURL" />
          </div>
          <div class="col-lg-3 col-3 px-1 text-center">
            <span>{{ item.product.MenuName }}</span>
          </div>

          <div class="col-lg-3 col-3 px-0 text-center">
            <a (click)="decrement(item)">-</a>
            <a class="border">{{ item.product.Quantity }}</a>
            <!-- <a class="border">{{item.quantity}}</a> -->
            <a (click)="increment(item)">+</a>
          </div>
          <div class="col-lg-2 col-3 px-0 text-center">
            <span>{{
              item.product.Quantity * item.product.Price |  number: "1.2-2" 
            }}</span>
            $
          </div>
          <div class="col-lg-1 col-1 px-0 text-center">
            <span class="close cursor-pointer" (click)="removeItem(i)"
              >&#10005;
            </span>
          </div>
        </div>
      </div>
      <br />

      <!-- <div class="back-to-shop"><span class="text-muted" (click)="back()">Back</span></div> -->
    </div>
    <div class="col-md-4 image-container p-0">
      <img class="cart-image" src="../../../../assets/img/cart/crop-pic.jpg" alt="" srcset="">
      <div class="summary after">
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <hr />
        <div class="row">
          <p class="mb-0">Items: {{ cartCountDetail }}</p>
          <p class="ml-auto mb-0">$ {{ totalPrice | number: "1.2-2" }}</p>
        </div>
        <div class="row" *ngIf="numberOfGuest >= 4">
          <p class="mb-0">Gratuity</p>
          <p class="ml-auto mb-0"[(ngModel)]="percenatgeAmount">{{ percenatgeAmount }}%</p>
        </div>
        <div class="row mx-0">
          <p class="mb-0">Sales Tax</p>
          <p class="ml-auto mb-0">{{salesTax}}%</p>
        </div>
        <form>
          <!-- <p >GIVE CODE</p> <input id="code " placeholder="Enter your code" disabled > -->
          <p>Tip</p>
          <input
            type="number"
            min="0"
            max="100"
            name="tip"
            id="tip"
            class="tipInput"
            [(ngModel)]="tip"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Enter Amount"
            (change)="cartDetail()"
          />
          <div class="dollar-sign">$</div>
          <!-- <p>Number of Guests</p> <input type ="number" name="numberOfGuests"  id="numberOfGuests"  [(ngModel)]="numberOfGuests" [ngModelOptions]="{standalone: true}" > -->
        </form>
        <div
          class="row"
          style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
        >
          <div class="col">Total Price</div>
          <div class="col text-right">
            $ {{ estimatedPrice | number: "1.2-2" }}
          </div>
        </div>
        <button
          class="btn btn-red btn-block rounded"
          data-toggle="modal"
          data-target="#myModal"
          (click)="checkOut(cartItem)"
        >
          <i class="fa fa-check-square-o mr-2"></i>Checkout
        </button>
      </div>
    </div>
  </div>
  
</div>
<button
class="btn btn-red  rounded setposition"
(click)="prevPage()"
>
<i class="ft-chevrons-left mr-1 "></i>Back
</button>
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <h4 class="modal-title">User Details</h4>
            <button
              type="button"
              #closebutton
              class="close font-size"
              data-dismiss="modal"
            >
              &times;
            </button>
          </div>
          <form
            name="form"
            class="text-white pb-0"
            #closebutton
            (ngSubmit)="loginForm.form.valid && FormSubmit()"
            #loginForm="ngForm"
            novalidate
          >
            <div class="form-group row last">
              <!-- <div class="col-md-9">
                    <div class="input-group col-md-9">
                      <div class="custom-control custom-radio d-inline-block">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1" value="1" class="custom-control-input" [(ngModel)]="order.OrderTypeID">
                        <label class="custom-control-label" for="customRadioInline1">Dine In</label>
                      </div>
                      <div class="custom-control custom-radio d-inline-block ml-1">
                        <input type="radio" id="customRadioInline2" checked name="customRadioInline1" value="2" class="custom-control-input" [(ngModel)]="order.OrderTypeID">
                        <label class="custom-control-label" for="customRadioInline2">Take away</label>
                      </div>
                    </div>
                  </div> -->
              <div>
                <label class="dinein ml-3">{{
                  _sharedService.deliveryType
                }}</label>
              </div>
              <div></div>
              <!-- <div class="form-group col-lg-12 col-12 mb-0" *ngIf="_sharedService.deliveryType =='takeout'">
                    <label>ADDRESS</label>
                    <input *ngIf="this.Dine_in == takeout" type="text" name="address" class="form-control  mb-0" placeholder="Enter Adrress" [(ngModel)]="order.DeliveryAddress">
                  </div> -->
              <div
                class="form-group col-lg-12 col-12 mb-0"
                *ngIf="_sharedService.deliveryType == 'takeout'"
              >
                <label>ADDRESS</label>
                <input
                  type="text"
                  name="address"
                  class="form-control mb-0"
                  placeholder="Enter Adrress"
                  [(ngModel)]="order.DeliveryAddress"
                />
              </div>
              <!-- <div
                class="form-group col-lg-12 col-12 mb-0"
                *ngIf="order.OrderTypeID == 1"
              >
                <label>Venue Table</label>
                <input
                  type="text"
                  name="table"
                  class="form-control mb-0"
                  placeholder="Enter table"
                  [(ngModel)]="order.VenuTableID"
                />
              </div> -->
            </div>
            <div class="row">
              <div class="form-group col-lg-12 col-12 mb-0">
                <label>first name</label>
                <input
                  type="text"
                  name="firstname"
                  class="form-control is-invalid mb-0"
                  [(ngModel)]="order.CustomerFirstName"
                  #firstname="ngModel"
                  [ngClass]="{
                    'is-invalid': loginForm.submitted && firstname.invalid
                  }"
                  placeholder="Enter first name"
                  required
                  firstname
                />
              </div>
              <div class="form-group col-lg-12 col-12 mb-2">
                <label>Last name</label>
                <input
                  type="text"
                  name="lastname"
                  class="form-control is-invalid mb-0"
                  [(ngModel)]="order.CustomerLastName"
                  #lastname="ngModel"
                  [ngClass]="{
                    'is-invalid': loginForm.submitted && lastname.invalid
                  }"
                  placeholder="Enter last name"
                  required
                  firstname
                />
              </div>
              <div class="form-group col-lg-12 col-12 mb-2">
                <label>Email</label>
                <input
                  type="text"
                  name="email"
                  class="form-control is-invalid mb-0"
                  [(ngModel)]="order.email"
                  #email="ngModel"
                  [ngClass]="{
                    'is-invalid': loginForm.submitted && email.invalid
                  }"
                  placeholder="Enter Email"
                  required
                  email
                />
              </div>
              <div class="form-group col-lg-12 col-12 mb-2">
                <label>Mobile Number</label>
                <input
                  type="text"
                  name="MobilePhone"
                  class="form-control is-invalid mb-0"
                  [(ngModel)]="order.MobilePhone"
                  #MobilePhone="ngModel"
                  [ngClass]="{
                    'is-invalid': loginForm.submitted && MobilePhone.invalid
                  }"
                  placeholder="Enter Mobile Phone"
                  required
                  MobilePhone
                />
              </div>
              <div class="form-group col-lg-12 col-12 my-4">
                <button
                  type="submit"
                  class="btn btn-red btn-block rounded"
                >
                  <i class="fa fa-check-square-o"></i> Place Order
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
