body {
  background: #ddd;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.title {
  margin-bottom: 5vh;
}

.card {
  margin: auto;
  max-width: 950px;
  width: 100%;
  // box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // border-radius: 1rem;
  border: transparent;
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  // border-bottom-left-radius: 1rem;
  // border-top-left-radius: 1rem;
}

.summary {
  // background-color: #ddd;
  // border-top-right-radius: 1rem;
  // border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

.summary .col-2 {
  padding: 0;
}

.summary .col-10 {
  padding: 0;
}

.row {
  margin: 0;
}

.title b {
  font-size: 1.5rem;
}

.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}

.col-2,
.col {
  padding: 0 1vh;
}

a {
  padding: 0 1vh;
}

.close {
  margin-left: auto;
  font-size: 0.7rem;
}

img {
  width: 3.5rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

// input {
//   border: 1px solid rgba(0, 0, 0, 0.137);
//   padding: 1vh;
//   margin-bottom: 4vh;
//   outline: none;
//   width: 100%;
//   // background-color: rgb(247, 247, 247);
// }

// input:focus::-webkit-input-placeholder {
//   color: transparent;
// }

// .btn {
//   background-color: #000;
//   border-color: #000;
//   color: white;
//   width: 100%;
//   font-size: 0.7rem;
//   margin-top: 4vh;
//   padding: 1vh;
//   border-radius: 0;
// }

// .btn:focus {
//   box-shadow: none;
//   outline: none;
//   box-shadow: none;
//   color: white;
//   -webkit-box-shadow: none;

//   transition: none;
// }

// .btn:hover {
//   color: white;
// }

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
.error-text {
  color: red;
}
.font-size {
  font-size: 1.7rem;
}
// .card-center {
//   transform: translate(10px, 210px);
// }
.model-center {
  transform: translate(10px, 150px) !important;
}

.animated {
  animation-duration: 1.5s;
  margin-top: 4%;
}

.scroll-card-item {
  overflow-y: auto;
  height: 397px;;
}
.btn-red{
  background-color: #ad2222 ;
  color: white !important;
  border-color: #ad2222 ;
}
.img-size{
  height: 45px;
  width: 75px;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    transform: scale(1.5);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
   animation-name: fadeInRight;
}
.modal-content {
 
   border: none; 
   border-radius: 0px; 
}
.image-container {
  position: relative;
  width: 100%;
  height: 397px;
}
.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
  display: block;
  background: rgba(0, 0, 0, .6);
}
.cart-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
}
.tipInput {
    padding: .375rem 1.75rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dollar-sign{
  position: absolute;
  top: 221px;
  color: black;
  right: 0;
  left: 45px;
  bottom: 0;
  height: 21px;
  width: 10px;
}
@media (max-width: 600px) {
  .card-center {
    transform: translate(0px, 12px);
  }
  .model-center {
    transform: translate(0px, 130px);
  }
  .card {
    box-shadow: white !important;
    // border-bottom-left-radius: unset;
    // border-top-right-radius: 1rem;
  }
  .scroll-card-item {
    overflow-y: auto;
    height: 172px;
  }
  .img-size{
    height: 50px;
    width: 60px;
  }
  .dollar-sign{
    position: absolute;
    top: 232px;
    color: black;
    right: 0;
    left: 48px;
    bottom: 0;
    height: 21px;
    width: 10px;
  }
}
@media (max-width: 767px) {
  .card {
    box-shadow: white !important;
    // border-bottom-left-radius: unset;
    // border-top-right-radius: 1rem;
  }
  // .summary {
  //   border-top-right-radius: unset;
  //   border-bottom-left-radius: 1rem;
  // }
}
.setposition{
  margin-left: 5rem;
}
