<!-- 

  <section >
    <div class="row text-left">
      <div class="col-md-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="card-text">
               
              </div>
              <form name="form" class=" text-white" (ngSubmit)="Menuform.form.valid && addMenu()" #Menuform="ngForm" novalidate>
                <div class="form-body">
                  <h4 class="form-section mt-3"><i class="fa fa-list-alt" aria-hidden="true"></i> ADD CATEGORY</h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group form-item ">
                      
                            <input type="text" id="projectinput1" autocomplete="off" required value="test" class="form-control is-invalid mb-0" name="fname" [(ngModel)]="menu.MenuName"
                            #fname="ngModel" [ngClass]="{ 'is-invalid': Menuform.submitted && fname.invalid }">
                            <label for="Name">Name</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group form-item">
                          <input  id="projectinput10" rows="1" required  class="form-control is-invalid mb-0" name="Description" [(ngModel)]="menu.Notes" [ngModelOptions]="{standalone: true}"
                          #Description="ngModel" [ngClass]="{ 'is-invalid': Menuform.submitted && Description.invalid }">
                        <label for="Notes">Description</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group form-item ">
                            <input type="text" id="projectinput4" autocomplete="off" required  name="Discount"
                            class="form-control is-invalid mb-0"  [(ngModel)]="menu.Discount" [ngModelOptions]="{standalone: true}"
                            #Discount="ngModel" [ngClass]="{ 'is-invalid': Menuform.submitted && Discount.invalid }"
                                required>>
                            <label for="Discount">Discount</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group form-item ">
                        <input type="text" id="1"  name="Resturant" autocomplete="off" name=""
                        class="form-control is-invalid mb-0"[(ngModel)]="menu.RestaurantID" [ngModelOptions]="{standalone: true}"
                        #Resturant="ngModel" [ngClass]="{ 'is-invalid': Menuform.submitted && Resturant.invalid }"
                            required>
                            <label for="Discount">Resturant</label>
                      </div>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-md-6">
                        <label class="hoverable" for="fileInput">
                        <img [src]="url ">
                        </label>
                        <input class="form-control" id="fileInput" type='file' (change)="onSelect($event)" [(ngModel)]="menu.ImageURL" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()">
                    <i class="ft-x"></i> Cancel
                  </button>
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="ft-check"></i> Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
   -->
<section>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="card-text"></div>
            <form
              name="form"
              class="text-danger"
              (ngSubmit)="
              MenuID == undefined
                  ? Menuform.form.valid && addMenu()
                  : Menuform.form.valid && editMenu()
              "
              #Menuform="ngForm"
              novalidate
            >
              <div class="form-body">
                <h4 *ngIf="!MenuID" class="form-section mt-3">
                  <i class="fa fa-list-alt" aria-hidden="true"></i> Add Menu
                </h4>
                <h4 *ngIf="MenuID" class="form-section mt-3">
                  <i class="fa fa-list-alt" aria-hidden="true"></i> Edit Menu
                </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group  input-group">
                      <input
                       type="text" 
                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="projectinput1"
                        autocomplete="off"
                        required
                        class=" is-invalid mb-0"
                        name="RestaurantID"
                        [(ngModel)]="menu.RestaurantID"
                        #RestaurantID="ngModel"
                        
                      />
                      <span>Restaurant</span>
                      <div class="error-block"
                      *ngIf="!RestaurantID.valid && (RestaurantID.touched || RestaurantID.dirty) || (Menuform.submitted)
                      && RestaurantID.errors?.required">
                      <div  *ngIf="RestaurantID.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="RestaurantID">Restaurant ID</label> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="projectinput10"
                        rows="1"
                        required
                        class=" is-invalid mb-0"
                        name="LocationID"
                        [(ngModel)]="menu.LocationID"
                        [ngModelOptions]="{ standalone: true }"
                        #LocationID="ngModel"
                       
                      />
                      <span>Location</span>
                      <div class="error-block"
                      *ngIf="!LocationID.valid && (LocationID.touched || LocationID.dirty) || (Menuform.submitted)
                      && LocationID.errors?.required">
                      <div  *ngIf="LocationID.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Notes">LocationID</label> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <select style="    border: 1px solid gray;"
                        [ngModel]="menu.CategoryID"
                        class="custom-select d-block floating-input"
                        [ngModelOptions]="{ standalone: true }"
                        (ngModelChange)="changeSmsService($event)"
                      >
                        <option
                          *ngFor="let item of category"
                          [value]="item.CategoryID"
                        >
                          {{ item.CategoryName }}
                        </option>
                      </select >
                      <span class="highlight"></span>
                     <label class="input-label text-capitalize"> Category</label> 
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                        type="text"
                        id="1"
                        name="MenuName"
                        autocomplete="off"
                        class="is-invalid mb-0"
                        [(ngModel)]="menu.MenuName"
                        [ngModelOptions]="{ standalone: true }"
                        #MenuName="ngModel"
                        required
                      />
                      <span>Menu Name</span>
                      <div class="error-block"
                      *ngIf="!MenuName.valid && (MenuName.touched || MenuName.dirty) || (Menuform.submitted)
                      && MenuName.errors?.required">
                      <div  *ngIf="MenuName.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">Menu Name</label> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="projectinput4"
                        autocomplete="off"
                        required
                        name="UnitID"
                        class=" is-invalid mb-0"
                        [(ngModel)]="menu.UnitID"
                        [ngModelOptions]="{ standalone: true }"
                        #UnitID="ngModel"
                        
                        required
                      />
                      <span>Unit</span>
                      <div class="error-block"
                      *ngIf="!UnitID.valid && (UnitID.touched || UnitID.dirty) || (Menuform.submitted)
                      && UnitID.errors?.required">
                      <div  *ngIf="UnitID.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">Unit</label> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="1"
                        name="Quantity"
                        autocomplete="off"
                        class=" is-invalid mb-0"
                        [(ngModel)]="menu.Quantity"
                        [ngModelOptions]="{ standalone: true }"
                        #Quantity="ngModel"
                        
                        required
                      />
                      <span>Quantity</span>
                      <div class="error-block"
                      *ngIf="!Quantity.valid && (Quantity.touched || Quantity.dirty) || (Menuform.submitted)
                      && Quantity.errors?.required">
                      <div  *ngIf="Quantity.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">Quantity</label> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="projectinput4"
                        autocomplete="off"
                        required
                        name="Price"
                        class=" is-invalid mb-0"
                        [(ngModel)]="menu.Price"
                        [ngModelOptions]="{ standalone: true }"
                        #Price="ngModel"
                        
                        required
                      />
                      <span>Price</span>
                      <div class="error-block"
                      *ngIf="!Price.valid && (Price.touched || Price.dirty) || (Menuform.submitted)
                      && Price.errors?.required">
                      <div  *ngIf="Price.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">Price</label> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="1"
                        name="OriginalPrice"
                        autocomplete="off"
                        class=" is-invalid mb-0"
                        [(ngModel)]="menu.OriginalPrice"
                        [ngModelOptions]="{ standalone: true }"
                        #OriginalPrice="ngModel"
                        
                        required
                      />
                      <span>Original Price</span>
                      <div class="error-block"
                      *ngIf="!OriginalPrice.valid && (OriginalPrice.touched || OriginalPrice.dirty) || (Menuform.submitted)
                      && OriginalPrice.errors?.required">
                      <div  *ngIf="OriginalPrice.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">OriginalPrice</label> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                        type="text"
                        id="projectinput4"
                        autocomplete="off"
                        required
                        name="Notes"
                        class="is-invalid mb-0"
                        [(ngModel)]="menu.Notes"
                        [ngModelOptions]="{ standalone: true }"
                        #Notes="ngModel"
                        
                        required
                      />
                      <span>Notes</span>
                      <div class="error-block"
                      *ngIf="!Notes.valid && (Notes.touched || Notes.dirty) || (Menuform.submitted)
                      && Notes.errors?.required">
                      <div  *ngIf="Notes.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">Notes</label> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="1"
                        name="Discount"
                        autocomplete="off"
                        class="is-invalid mb-0"
                        [(ngModel)]="menu.Discount"
                        [ngModelOptions]="{ standalone: true }"
                        #Discount="ngModel"
                        
                        required
                      />
                      <span>Discount</span>
                      <div class="error-block"
                      *ngIf="!Discount.valid && (Discount.touched || Discount.dirty) || (Menuform.submitted)
                      && Discount.errors?.required">
                      <div  *ngIf="Discount.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">Discount</label> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                        type="text"
                        id="projectinput4"
                        autocomplete="off"
                        required
                        name="WillDeliver"
                        class=" is-invalid mb-0"
                        [(ngModel)]="menu.WillDeliver"
                        [ngModelOptions]="{ standalone: true }"
                        #WillDeliver="ngModel"
                        
                        required
                      />
                      <span>Will Deliver</span>
                      <div class="error-block"
                      *ngIf="!WillDeliver.valid && (WillDeliver.touched || WillDeliver.dirty) || (Menuform.submitted)
                      && WillDeliver.errors?.required">
                      <div  *ngIf="WillDeliver.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">WillDeliver</label> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="1"
                        name="PreparationTime"
                        autocomplete="off"
                        class=" is-invalid mb-0"
                        [(ngModel)]="menu.PreparationTime"
                        [ngModelOptions]="{ standalone: true }"
                        #PreparationTime="ngModel"
                        
                        required
                      />
                      <span>Preparation Time</span>
                      <div class="error-block"
                      *ngIf="!PreparationTime.valid && (PreparationTime.touched || PreparationTime.dirty) || (Menuform.submitted)
                      && PreparationTime.errors?.required">
                      <div  *ngIf="PreparationTime.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">PreparationTime</label> -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="projectinput4"
                        autocomplete="off"
                        required
                        name="StatusID"
                        class=" is-invalid mb-0"
                        [(ngModel)]="menu.StatusID"
                        [ngModelOptions]="{ standalone: true }"
                        #StatusID="ngModel" 
                        required
                      />
                      <span>Status</span>
                      <div class="error-block"
                      *ngIf="!StatusID.valid && (StatusID.touched || StatusID.dirty) || (Menuform.submitted)
                      && StatusID.errors?.required">
                      <div  *ngIf="StatusID.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">Status</label> -->
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group input-group">
                      <input
                      type="text" 
                      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                        id="1"
                        name="SortOrder"
                        autocomplete="off"
                        class=" is-invalid mb-0"
                        [(ngModel)]="menu.SortOrder"
                        [ngModelOptions]="{ standalone: true }"
                        #SortOrder="ngModel"
                        
                        required
                      />
                      <span>Sort Order</span>
                      <div class="error-block"
                      *ngIf="!SortOrder.valid && (SortOrder.touched || SortOrder.dirty) || (Menuform.submitted)
                      && SortOrder.errors?.required">
                      <div  *ngIf="SortOrder.errors['required']" >
                      *Required
                      </div>
                      </div>
                      <!-- <label for="Discount">Sort Order</label> -->
                    </div>
                  </div>
                </div>
                <!-- <div *ngIf="MenuID && menu.base64Url == undefined" class="col-md-6">
                  <div class="form-group input-group">
                    <img [src]="baseUrl + menu.ImageURL" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="hoverable" for="fileInput">
                      <img [src]="menu.base64Url" />
                    </label>
                    <input
                      class="form-control"
                      id="fileInput"
                      type="file"
                      style="padding: 2px 0px 0px 1px"
                      [(ngModel)]="menu.ImageURL"
                      #ImageUrl="ngModel"
                      (change)="onSelect($event)"
                    />
                  </div>
                </div>
                <div class="error-block"
                      *ngIf="!ImageUrl.valid && (ImageUrl.touched || ImageUrl.dirty) || (Menuform.submitted)
                      && ImageUrl.errors?.required">
                      <div  *ngIf="ImageUrl.errors['required']" >
                      *Required
                      </div>
                      </div> -->


                      <div class="col-lg-6 col-12">
                        <div class="pt-2 cursor">
                          <input type="file" (change)="fileChangeEvent($event)"
                            class="fileInputProfile cursor"
                            name="item-img" 
                            >
                            <ng-container *ngIf="!isImageSaved">
                             <img [src]="baseUrl + menu.ImageURL" class="img-responsive category-img cursor" *ngIf=" menu.ImageURL!=undefined || menu.ImageURL!=null" />
                             <i class="svg-icon add-image cursor mx-5" *ngIf=" menu.ImageURL==undefined || menu.ImageURL==null"></i>
                             <span class="text-black row mx-0" *ngIf=" menu.ImageURL==undefined || menu.ImageURL==null">Upload Item image</span>
                            </ng-container>
                          <ng-container *ngIf="isImageSaved;">
                            <img class="cursor" [src]="cardImageBase64" class="img-responsive item-img" />
                          </ng-container>
                        <div *ngIf="isImageSaved" class="row">
                            <i class="fa fa-times icon p-1 cancelIcon cursor cross-icon" (click)="removeImage()" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
              </div>

              <div class="form-actions">
                <button
                  type="button"
                  class="btn btn-raised btn-warning mr-1"
                  (click)="back()"
                >
                  <i class="ft-x"></i> Cancel
                </button>
                <button
                  *ngIf="!MenuID"
                  type="submit"
                  class="btn btn-raised btn-primary"
                >
                  <i class="ft-check"></i> Save
                </button>
                <button
                  *ngIf="MenuID"
                  type="submit"
                  class="btn btn-raised btn-primary"
                >
                  <i class="ft-check"></i> Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <div class="card-body p-0">
  <ng-select
    [items]="category"
    bindLabel="CategoryName"
    bindValue="CategoryID"
    placeholder="Select Category"
    (change)="changeSmsService($event)"
    [(ngModel)]="menu.CategoryID"
  >
  </ng-select>

</div> -->