*,
*:focus{outline: none}

.form{
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  font-family: sans-serif;
  background: #fff
}
.form-item{
  position: relative;
  margin-bottom: 15px
}
.form-item input{
  display: block;
  height: 40px;
  background: transparent;
  border: solid 1px #ccc;
  transition: all .3s ease;
  padding: 0 15px
}
.form-item input:focus{
  border-color: blue
}
.form-item label{
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all .3s ease
}
.form-item input:focus + label,
.form-item input:valid + label{
  font-size: 11px;
  top: -5px
}
.form-item input:focus + label{
  color: blue
}
img{
  width: 97px
}

//floating label 

.input-group {
  position: relative;
  margin-bottom: 20px;
  }
  
  .input-group input{
  width: 100%;
  height: 40px;
  padding: 18px;
  
  outline: none;
   border: 1px solid gray;
   border-radius: 4px;
  }
  
  
  .input-group span{
  font-size: 12px;
  position: absolute;
  left: 20px;
  top: 8px;
  transform: 1.2s;
  pointer-events: none;
  background: rgb(255, 255, 255);
  text-transform: capitalize;
  color: gray;
  }
  .input-group input:focus ~ span,
  .input-group input:valid ~ span
  {
  top: -10px;
  left: 25px;
  font-size: 13px;
  // color: #16bae7;
  transform: 0.2s;
  }
  .floating-input {
  width: 90%;
  height: 40px;
  padding: 4px;
  // border: 1px solid #16bae7;
  border-radius: 4px;
  box-shadow: none;
  background-color: white;
  outline: none;
  
  
  }
  .floating-input:focus~label, .floating-input:not(:placeholder-shown)~label {
  top: -9px;
  font-size: 12px;
  padding: 0 3px;
  background-color: #fff;
  // color: #16bae7;
  
  }
  label.input-label {
  
  font-weight: 400;
  position: absolute;
  pointer-events: none; 
  left: 34px;
  top: 8px;
  transition: .2s ease all;
  }
  .input-group>.custom-file .custom-file-input:focus~.custom-file-label, .input-group>.custom-select:focus, .input-group>.form-control:focus {
    z-index: 0;
}
.ng-touched.ng-invalid {
  border-color: gray;
}
.error-block{
  position: absolute;
  position: absolute;
  top: 8px;
  left: 87%;
  right: 0;
}
.cross-icon{
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  font-size: 20px;
  z-index: 100;
}
.item-img {
  height: 300px;
  width: 100%;
  }
  .fileInputProfile {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 99;
    opacity: 0;
}