/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* @import url("assets/css/bootstrap.min.css"); */
/* @import url("../src/assets/css/prism.min.css");
@import url("../src/assets/css/sweetalert2.min.css");
@import url("../src/assets/css/bootstrap-timepicker.min.css");
@import url("../src/assets/css/wizard.css");
@import url("../src/assets/css/leaflet.css");
@import url("../src/assets/css/jquery-jvectormap-2.0.3.css");
@import url("../src/assets/css/ng2-toastr.min.css");
@import url("../src/assets/css/nouislider.min.css");
@import url("../src/assets/css/data-table/index.css");
@import url("../src/assets/css/data-table/icons.css");
@import url("../src/assets/css/demo.css"); */
@import "~@ng-select/ng-select/themes/default.theme.css";
.router-link-active:focus{
    border: none !important;
    outline: none !important;
    }
    .is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
    }
    .invalid-feedback-2 {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    text-align: end;
    position: absolute;
    top:35px;
    right: 20px;
    }
    .is-invalid~.invalid-feedback-2, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback-2, .was-validated :invalid~.invalid-tooltip {
    display: block;
    }
    .invalid-feedback{
    top: 66px;
    font-size: 10px;
    }
    .DatePickerInput::-webkit-inner-spin-button,
    .DatePickerInput::-webkit-calendar-picker-indicator {
    opacity:0;
    -webkit-appearance: none;
    }
    .round {
    border-radius: 20px;
    }
 
   .self-center{
     align-self: center;
    } 
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 10px;
}
.font-26{
    font-size: 26px;
}
.justify-content-space-between{
    justify-content: space-between;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ad2222; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.btn-red{
    background-color: #ad2222 ;
    color: white !important;
    border-color: #ad2222 ;
  }
  .btn-orange {
      background-color: #ff8a12;
      color: white !important;
      border-color: #ff8a12;
  }
  @media (max-width: 767px) {
    .px-600-0{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  }

.svg-icon.add-image::after {
    background-image: url(./assets/img/svg/add-image.svg);
    transform: scale(1);
    width: 57px;
    height: 50px;
}
.svg-icon::after {
    fill: red;
    content: " ";
    width: 20px;
    height: 20px;
    /* background-position: center; */
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.cursor{
cursor: pointer;
}
.text-black {
    color: black !important;
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: transparent !important;
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
    }