@import "~@ng-select/ng-select/themes/material.theme.css";

// ng select

.ng-select.ng-select-opened.ng-select-bottom > .ng-select-container {
  /* border-bottom-right-radius: 39px; */
  /* border-bottom-left-radius: 0; */
  border-radius: 5px;
  border: 0.13rem solid #ba0143;
}
.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-opened .ng-placeholder {
  color: #ba0143;
  font-size: 14px !important;
}
.ng-select.ng-select-focused
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  -webkit-transform: translateY(-1.35em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  transform: translateY(-1.35em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  color: #ba0143;
  box-shadow: none !important;
}

.ng-select .ng-select-container {
  cursor: default;
  display: -webkit-box;
  display: flex;
  outline: 0;
  overflow: visible !important;
  position: relative;
  width: 100%;
  border-radius: 5px;
  // background: #ced4da54;
}

/* #region statusDropdownbgChange */
.in_Progress > .ng-select-container {
  background: #08bd53 !important;
}

.on_Hold > .ng-select-container {
  background: #ba0143 !important;
}

.Open > .ng-select-container {
  background: #fb5347 !important;
}

.Complete > .ng-select-container {
  background: #878c90 !important;
}
/* #endregion */

/* #region statusDropdownColorChange */

.on_Hold > .ng-select-container .ng-value-label {
  position: relative;
  top: 1px !important;
  color: black;
  font-size: 12px !important;
}

.in_Progress > .ng-select-container .ng-value-label {
  position: relative;
  top: 1px !important;
  color: white;
  font-size: 12px !important;
}

.Open > .ng-select-container .ng-value-label {
  position: relative;
  top: 1px !important;
  color: white;
  font-size: 12px !important;
}

.Complete > .ng-select-container .ng-value-label {
  position: relative;
  top: 1px !important;
  color: white;
  font-size: 12px !important;
}

/* #endregion */

// ng-Select indicators /
.ng-placeholder {
  // font-size: 12px;
  // color: #3e5c7b !important;
  // left: 8px !important;
  // background: white !important;
  // padding: 0 6px !important;
  // top: 7px !important;
  // left: 12px !important;

  // font-size: 12px;
  // color: #3e5c7b !important;
  // left: 8px !important;
  // background: transparent;
  // top: 7px !important;
  // left: 12px !important;

  font-size: 13px;
  padding-top: 7px;
  color: #3e5c7b !important;
  left: 8px !important;
  top: 0px !important;
  left: 11px !important;
  opacity: 0.55;
  z-index: 0 !important;
}

.ng-select.ng-select-opened .ng-placeholder {
  -webkit-transform: translateY(-1.35em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  transform: translateY(-1.35em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  z-index: 0 !important;
  color: lightgray;
}
.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-opened .ng-placeholder {
  -webkit-transform: translateY(-1.35em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  transform: translateY(-1.35em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  color: lightgray;
  z-index: 0 !important;
}

.floating-label {
  position: relative;
}
.floating-input,
.floating-select {
  border-radius: 5px;
  // background: #ced4da54;
}
.floating-input[disabled],
.floating-select.ng-select-disabled,
.disabled-ng-select {
  background: #00000022 !important;
}

.floating-input[disabled] + .highlight + .input-label,
.floating-select.ng-select-disabled .ng-placeholder,
.disabled-ng-select .ng-placeholder {
  background: #e0e0e0 !important;
  color: black !important;
  left: 34px;
}

.disabled-form-check input[type="radio"]:checked + .label-text:before {
  color: #00000022 !important;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
}

label.input-label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 11px;
  // top: 7px;
  top: 11px;
  text-align: left;
  font: normal normal normal 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #071d53;
  opacity: 0.55;
  text-transform: unset;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* For IE Browsers*/
input:focus ~ span,
input:not(:-ms-input-placeholder) ~ span {
  opacity: 1;
  transform: translateY(-100%) translateX(-10px);
  font-size: 10px;
}

/* For Edge Browser*/
input:focus ~ span,
input:invalid:not(:focus)::-webkit-input-placeholder {
  opacity: 1;
  transform: translateY(-100%) translateX(-10px);
  font-size: 10px;
}

.floating-input:focus ~ label,
.floating-input:not(:placeholder-shown) ~ label {
  // top: -14px !important;
  // font-size: 10px !important;
  // padding: 0px 3px !important;
  // background-color: white !important;
  // color: #ff9200;
  top: -8px !important;
  font-size: 10px !important;
  padding: 0px 3px !important;
  
  -webkit-text-fill-color: #ba0143;
  border-radius: 25%;
  background-color: white;
  opacity: 1;
}

// Edge Old version
.floating-input:focus ~ label,
.floating-input:not(:-ms-input-placeholder-shown) ~ label {
  top: -17px !important;
  font-size: 10px !important;
  padding: 0px 3px !important;
 
  -webkit-text-fill-color: #ba0143;
  border-radius: 25%;
}

// Edge Old version
.floating-input:focus ~ label,
.floating-input:not(:-ms-input-placeholder) ~ label {
  top: -17px !important;
  font-size: 10px !important;
  padding: 0px 3px !important;

  -webkit-text-fill-color: #ba0143;
  border-radius: 25%;
}

//multi column .floating-input
.yearInput.floating-input:focus ~ label,
.yearInput.floating-input:not(:placeholder-shown) ~ label {
  top: -65px !important;
}

.yearInput.floating-input:focus ~ label.yearLabel::before {
  // font-size: $font-size-h5;
  content: "/";
  position: relative;
  top: 30px;
  right: 20px;
}
.yearInput.floating-input:not(:placeholder-shown) ~ label.yearLabel::before {
  // font-size: $font-size-h5;
  content: "/";
  position: relative;
  top: 24px;
  right: 20px;
}

.floating-input.date-input1.yearInput[type="number"]::-webkit-inner-spin-button,
.floating-input.date-input1.yearInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.floating-input.date-input1[type="number"]::-webkit-inner-spin-button,
.floating-input.date-input1[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.floating-input:focus + .yearLabel::after {
  font-size: 10px;
  content: "2019";
  position: relative;
  top: 22px;
  left: -45px;
  color: #bebebc;
}
.floating-input:focus + .monthLabel::after {
  font-size: 10px;
  content: "01";
  position: relative;
  top: 22px;
  left: -45px;
  color: #bebebc;
}
.yearInput.floating-input:not(:placeholder-shown) ~ label.yearLabel::after {
  content: " ";
}
.monthInput.floating-input:not(:placeholder-shown) ~ label.monthLabel::after {
  content: " ";
}
.yearLabel::before {
  // font-size: $font-size-h5;
  content: "/";
  position: relative;
  top: 6px;
  right: 20px;
}
.yearInput {
  position: relative;
  max-width: 50%;
  border-radius: 0px 50px 50px 0px;
  top: -44px;
  border-left: 1px solid transparent;
  margin-left: auto;
}
.yearLabel {
  margin-left: 50%;
  top: -46px !important;
}

.floating-select:focus ~ label,
.floating-select:not([value=""]):valid ~ label {
  top: -9px;
  font-size: 10px;
  padding: 0px 3px;
  // background-color: white;
  color: #3e5c7b;
}

/* active state */
.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
  width: 50%;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

/* highlighter */
.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.dropdown:hover > .dropdown-menu {
  left: -80px;
  margin-top: 0px !important;
}

//ng select
@import "~@ng-select/ng-select/themes/material.theme.css";
.error-block-ng-select {
  position: relative;
  left: -13px;
  top: -29px;
  height: 0;
  pointer-events: none;
  text-align: right;
  margin-right: 20px !important;
}
.error-block {
  position: relative;
  top: -29px;
  height: 0;
  pointer-events: none;
  text-align: right;
  margin-right: 20px !important;
}
.error-block-text-area {
  position: relative;
  top: -118px;
  height: 0;
  pointer-events: none;
  left: 350px;
}
.color_label {
  position: relative;
  height: 20px;
  width: 20px;
  top: -28px;
  right: 52px;
  margin-left: auto;
}

.ng-select.custom-job-dropdown {
  width: 100%;
  height: 0px;
  border: 1px solid #dddddd;
  border-radius: 25px;
  background: white;
  // border: 0;
}
.ng-select.custom-job-dropdown .ng-select-container {
  top: -18px;
  right: 0px;
}
.ng-select.custom-job-dropdown
  .ng-select-container
  .ng-value-container
  .ng-input
  > input {
  top: -11px;
  position: relative;
  width: 100% !important;
}
.ng-select.custom-job-dropdown .ng-clear-wrapper {
  color: #f96332 !important;
  bottom: 15px !important;
  left: 9%;
  width: 11px;
}
.ng-select.custom-job-dropdown .ng-select .ng-arrow-wrapper .ng-arrow {
  margin: 0 8px 0 3px;
}
.ng-select.custom-job-dropdown.ng-select-single
  .ng-select-container
  .ng-arrow-wrapper {
  bottom: 19px !important;
  left: 6%;
}
.ng-select.custom-job-dropdown .ng-dropdown-panel {
  margin-top: -82px !important;
  border-radius: 20px;
  // z-index: 5 !important;
  width: auto;
}
.ng-select.custom-job-dropdown .ng-select-container .ng-value-container {
  color: #ba0143;
  padding-left: 7px !important;
}

.ng-dropdown-panel {
  // border: 1px solid #ff9200 !important;
  z-index: 999 !important;
  // margin-top: 24px !important;
  // border-radius: 20px;
  // z-index: 5 !important;
}


.ng-select-opened .ng-placeholder,
.ng-has-value .ng-placeholder {
  top: 2px;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 12px 0 4px;
  color: gray;
}
.custom.ng-select.ng-select-searchable.ng-select-bottom.ng-select-opened
  .ng-arrow-wrapper {
  // bottom: 5px !important;
  color: #3e5c7b;
}


.ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: #3e5c7b;
  top: 4px;
}

.ng-select-opened .ng-arrow-wrapper .ng-arrow {
  color: #3e5c7b !important;
}

.ng-select .ng-clear-wrapper {
  // color: red !important;
  bottom: 5px !important;
}

//   box-shadow: 1px 2px 7px 0px #00000017;

.ng-value-label {
  position: relative;
  top: 1px !important;
  color: #3e5c7b;
  font-size: 12px !important;
}
.ng-select .ng-select-container:after {
  border-bottom: none;
}
.ng-select .ng-select-container {
  // top: -10px;
  top: 0px;
}

.ng-input {
  padding-left: 14px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background: white;
  color: gray;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: #3c3d41;

  // border-bottom: 1px solid #3e5c7b;
  border-bottom: 0.1px solid lightgray;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:nth-last-child(1) {
  border-bottom: 1px solid #bebebc;
  border-radius: 7px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:first-child {
  // border-top: 1px solid #3e5c7b;
  border-radius: 7px;
  // border-radius: 20px 0px 0 0;
}
.ng-select .ng-select-container .ng-value-container .ng-input > input {
  // top: -8px;
  top: 0px;
  position: relative;
  width: 77% !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background: rgba(0, 0, 0, 0.02);
  color: #3e5c7b;
  font-size: 16px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.ng-value,
.ng-input input {
  font-size: 12px !important;
}

.ng-select .ng-has-value .ng-placeholder,
.ng-select.ng-select-opened .ng-placeholder {
  color: #ba0143 !important;
  font-size: 13px !important;
  opacity: 1;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: #ba0143;
}
.ng-select.ng-select-opened .ng-select-container {
  z-index: 1 !important;
}
.ng-select .ng-select-container {
  -webkit-box-align: baseline;
  align-items: baseline;
  min-height: 34.5px;
  border: none !important;
  // box-shadow: 1px 2px 5px #a7a6a6;
}

.ng-dropdown-panel.ng-select-bottom {
  top: calc(82% - 0.15em) !important;
  box-shadow: 1px 2px 7px 0px #00000017 !important;
  border-radius: 8px;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  // white-space: nowrap;
  // overflow: visible !important;
  // text-overflow: ellipsis;
  // margin-top: none;
  // padding-top: none;

  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.ng-select {
  padding-bottom: 0px !important;
}

.ng-select .ng-select-container .ng-value-container {
  -webkit-box-align: stretch;
  align-items: stretch;
  padding: 0.1em !important;
  border-top: 0.375em solid transparent !important;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  position: absolute;
  z-index: 0 !important;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: #ba0143 !important;
  border-radius: 8px !important;
  margin: 6px 8px 10px 0px;
}
.ng-select.ng-select-multiple
  .ng-select-container.ng-has-value
  .ng-clear-wrapper,
.ng-select.ng-select-multiple
  .ng-select-container.ng-has-value
  .ng-arrow-wrapper {
  border-top: 0.84375em solid transparent;
  bottom: 6px !important;
}
.ng-select-container .ng-value-container {
  color: #ba0143;
  padding-left: 14px !important;
  margin-left: 9px !important;
}
.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  top: -3px;
  border-color: transparent transparent #ba0143;
  border-width: 0 5px 5px;
}
.ng-dropdown-panel.ng-select-top {
  bottom: calc(65% - -1em) !important;
  box-shadow: 1px 2px 7px 0px #00000017 !important;
  border-radius: 6px;
}
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #ba0143 !important;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon.left {
  border-right: 1px solid white;
  color: white;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon:hover {
  background: none;
}
.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-label {
  // font-weight: 400;
  // color: white;

  // font-weight: 400;
  // color: white;
  // word-break: break-word;
  // overflow: auto;
  // width: 22rem;
  // text-overflow: ellipsis;

  font-weight: 400;
  color: white;
  word-break: break-all;
  overflow: hidden;
  width: 4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* For IE Browsers*/
.floating-input ~ span,
input:not(:-ms-input-placeholder) ~ span {
  opacity: 1;
  transform: translateY(-100%) translateX(-10px);
  font-size: 10px;
}

/* For Edge Browser*/
.floating-input:focus ~ span,
input:invalid:not(:focus)::-webkit-input-placeholder {
  opacity: 1;
  transform: translateY(-100%) translateX(-10px);
  font-size: 10px;
}
