<header>
  <div class="background">
    <div class="Inner-text">
      <section class="header-content home">
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              <div class="location-search-bar">
                <h1>It's the food you love, delivered</h1>
                <p>Best restaurant in the city delivering to your doorstep</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</header>
<section id="fabs-examples"  > 
  <div class="container mt-2">
    <h1 class="p-3">Categories</h1>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12" *ngFor="let item of category">
        <div class="card category-card" >
          <div class="card-header font-16">
            <h4 class="card-title mb-2" >{{item.CategoryName}}</h4>
          </div>
          <div class="card-content">
            <div class="card-img">
              <img class="category-img" [src]="baseURL + item.ImageURL" alt="Card image cap">
            </div>
            <div class="card-body">
              <p class="card-text">{{item.Notes}}</p>
              <hr>
              <div class="d-flex">
                <button class="col-auto btn btn-red"(click)="onView(item.CategoryID)">View Item</button>
                <p class="card-text pt-3 " style="text-align: right;">Discount:{{item.Discount}}%</p>
              </div>  
            </div>
          </div>
    
        </div>
      </div>  
    </div>
  </div>
</section>

