.background{
    background-image: url('../../../../assets/img/menu/pexels-viktoria-alipatova-2130134.jpg');
    height: 50vh;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.header-content h1 {
    font-size: 2.375rem;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1.15;
}
.header-content h1, .header-content p {
    color: #fff;
}
.header-content .row {
    min-height: 25rem;
}
.align-items-center {
    align-items: center !important;
}

// .row {
//     display: flex;
//     flex-wrap: wrap;
//     margin-right: -15px;
//     margin-left: -15px;
//     align-items: center;
// }
.header-content.home .col {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.375rem;
    background-color: rgba(36, 40, 43, 0.4);
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.header-content p {
    font-size: 1.5rem;
    font-weight: 300;
}
.content-header{
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
}
.category-img{
    height: 200px;
    width: 100%;
}
.category-card{
    height: 440px;
}

.discount{
    justify-content: space-around;
}
.background-2 {
    background-image: url('../../../../assets/img/menu/coffee-171653_1920.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        height: 64px;
        width: 326px;
        overflow-y: hidden;
    }